[2017-10-09 11:23] Lekensteyn commented on #2054
@ilpianista Unfortunately that does not work on all systems. In my case I was using Android-X86 where /system is a ro CD image. Another case where it could (presumably) have bad side-effects is when "verified boot" is enabled, simply mounting a filesystem would change the filesystem metadata and fail the verification.

[2017-10-09 12:44] ilpianista commented on #2054
@Lekensteyn ah, I see. Thank you a lot for explaining.

[2017-10-09 13:27] nesttle opened #2582 "Error in HTTP connection: ClientHandshakeException - "Unexpected EOF""
##### Steps to reproduce the problem:

1. mitmproxy -p 1337
2. Randomly crashes

![image](https://user-images.githubusercontent.com/4428341/31340383-47b193fe-ad06-11e7-88a7-21a2162f33f8.png)

[2017-10-10 09:49] krishnask7 opened #2584 "mitmproxy 2.0.1 is failing for HTTPS requests"
##### Problem:
All HTTPS requests are failing. But HTTP request responses are clearly failing

##### Steps to reproduce the problem:
Command used:
-------------------
1. mitmdump -v -p 9001 -s "D:\Python\Python35\Scripts\har_dump.py" --cert "C:\Users\Krishna\.mitmproxy\mitmproxy-ca-cert.pem" -w "mani.dump"
2. Set up manual proxy port on the android mobile device to 9001

Python Version:: Python 3.

[2017-10-10 15:01] scobiej commented on #1721
Was there ever any work done on this? I've got a scenario where I really must add some headers to the 100 Continue response from a server to simulate some customer action.

[2017-10-11 09:59] zweifisch commented on #237
Is it possible to clear flow list in mitmweb, or limit the number of entries? I'm running mitmweb in docker container for debuging purpose, and have to restart the container from time to time to clear the flows, otherwise it crashes the browser.

[2017-10-11 21:07] mhils commented on #237
mitmproxy -> New.

[2017-10-12 12:36] seannexmo commented on #2580
Hi,

After some extra debugging with a colleague we discovered that the application was attempting to connect with SSLv2, which as far as we understand is not supported by mitmproxy.

We've decided that this isn't an issue on the part of mitmproxy now, and will close this off. Thanks for your patience and assistance.

Cheers,
Sean

[2017-10-12 12:36] #2580 closed

[2017-10-12 12:48] mhofman commented on #1846
I'm not sure I understand why mitmproxy tries to validate the name of certificate.
IMO, the following should work and avoid upstream man-in-the-middle attacks:
- Connect to the remote server, transmitting any SNI, ALPN, etc. received from the clienty (basically copies the Client Hello info).
- When server sends Certificate, validate the chain but ignore the subject. (completely bypass verification

[2017-10-12 17:11] henrymark92 commented on #2568
Hi all.
I saw in example.
mitmdump -U http://default-upstream-proxy.local:8080/ -s change_upstream_proxy.py

But It's not working for me. Can you help me?
I want create an upstream proxy through ssh connection
here my config.
mitmdump -U http://localhost:1080/ -s change_upstream_proxy.py
or
mitmdump -U http://127.0.0.1:1080/ -s change_upstream_proxy.py

ssh config:
![capture](https://user-images.g

[2017-10-13 08:15] henrymark92 commented on #2568
@mhils  or @gkumarpatel  can you help me?

[2017-10-15 07:42] henrymark92 opened #2588 "Anyone who can merge source code tls_passthrough.py to stickycookies?"
I want use tls_passthrough.py in stickycookies file. But I don't know how to make it
Anyone who can help me ?

Source code:
1. File: tls_passthrough.py

[code]
2. File stickycookies:
[code]

[2017-10-16 01:57] mhils commented on #2588
Subclassing master as in the stickycookies is explicitly not supported anymore for a while. Sorry, but we can't help you with that. Feel free to take a look at the current stickycookie addon and ask further questions in the forums.

Thanks!

[2017-10-16 01:57] #2588 closed

[2017-10-16 20:37] victorhooi opened #2590 "Included pyopenssl version not working - pkg_resources.DistributionNotFound: The 'pyOpenSSL<17.4,>=17.3' distribution was not found and is required by mitmproxy"
##### Steps to reproduce the problem:

1. Install mitmproxy (HEAD - dd9f1b2) using homebrew on OSX
2. Run "mitmweb"

##### Any other comments? What have you tried so far?

I just tried install mitmproxy using:
[code]

However, when I try to run it, it's complaining about the pyopenssl version - however, my understanding is that this is included with mitmproxy:

[code]

##### System information

I'

[2017-10-17 09:43] mhils commented on #2590
pyOpenSSL is included in our prebuilt binaries, but if you use Homebrew that will take care of installing it. In other words, this'd need an update of the homebrew formula, which likely would break the current stable. Long story short, if you want HEAD, I'd recommend installing it using pip into your own virtualenv.

[2017-10-20 05:30] Ga-ryo opened #2594 "Transparent mode fail with looking up failure."
##### Steps to reproduce the problem:

1. Launch Wifi Access Point(OS X)
2. Setup pfctl configuration so that http packet will be forwarded.
3. Launch mitmproxy ( `sudo mitmproxy -p 8080 -m transparent --showhost` )
4. Access web page after connecting to AP which launched before.
5. See event log.

##### Any other comments? What have you tried so far?

When I tried to use transparent mode with OS

[2017-10-20 05:34] mhils commented on #2594
Thanks for the awesome report! :smiley: 🍰

[2017-10-20 06:31] skotti opened #2595 "Raw tcp connection"
Hello,
I am a little bit confused with catching tcp traffic with mitmproxy.
I do like this:
1. mitmdump(mitmproxy) --raw-tcp -p 5656
2. on my VM I do: netcat 192.168.50.10 5656
3. my machines are connected through bridge, so I can ping all VM's from host and in opposite direction as well.
so, I want to simply record this tcp traffic , but every time I type something I get an error ( this does not

[2017-10-20 11:20] #2590 closed

[2017-10-20 11:23] mhils commented on #2595
Using `mitmdump --raw-tcp -p 5656` you are starting mitmproxy as a regular HTTP proxy. It will expect clients to send a `GET http://example.com/foo HTTP/1.1` HTTP request or a `CONNECT example.com:1234` request to establish a (raw TCP) tunnel to the destination. There's a more detailed description at http://docs.mitmproxy.org/en/stable/modes.html. For your netcat example to work, you probably want

[2017-10-20 11:24] mhils commented on #2582
Thanks. That's probably a network connection issue we're just catching incorrectly. Can you provide us with the full traceback in the event log (press `e`)?

[2017-10-20 11:25] mhils commented on #2584
Sorry, it's really not clear what your issue is.

[2017-10-20 20:32] wimbledon opened #2597 "Transparent mode failure: Runtime Error (could not resolve original destination)"
##### Steps to reproduce the problem:

1.Followed these steps precisely: http://docs.mitmproxy.org/en/stable/transparent/osx.html
2.mitmproxy -T --host

##### Any other comments? What have you tried so far?
I could not figure out how to connect my iOS 10/11 device to mitmproxy. I tried to change the gateway/router in the wifi settings, but did not work.

This the error message:
![image](https://us

[2017-10-21 13:44] skotti commented on #2595
Thank you for comment.
I have tried but still no success : mitmproxy -R 192.168.20.2:5656 --tcp HOST ( and netcat 192.168.20.10 5656 on another machine) - I can't specify such a string (due to that syntax should include http(s) address, not ip). I am launching this on host and waiting for a netcat message from the first vm.
In general I need to send a tcp message from one VM to host , it should be

[2017-10-22 09:06] yeradis opened #2598 "Sample wsgi_flask_app.py is wrong"
##### Steps to reproduce the problem:

1.
mitmdump -s wsgi_flask_app.py
2.
Go to `example.com` and should appear `Hello World!`
3.
Instead, the original site is shown

##### Any other comments? What have you tried so far?

The sample shows this:

[code]

but should be:

[code]

Placing it inside the `start()` event, returns the expected result

also i´m unable to make the 443 sample to work

[2017-10-22 14:38] fiery- opened #2600 "High Sierra Keychain hangs with mitmproxy cert"
When opening Keychain app on High Sierra (with Supplemental Update), Keychain hangs (with rainbow mouse cursor) and Console fills up with more than 20000 messages like this one:
CSSM Exception: -2147413750 CSSMERR_DL_INVALID_FIELD_NAME

When I remove mitmproxy-2.0.2 certs, there is no problem opening the Keychain app. The process of removing both certs hangs Keychain for about 1-2 minutes as well.

[2017-10-22 19:08] fiery- commented on #2600
It seems that the problem is not related to mitmproxy, but appears only when Console app is opened. If I close Console app, Keychain works properly. Most probably there is another cert that causes this error.

[2017-10-22 19:08] #2600 closed

[2017-10-23 11:44] #2557 closed

[2017-10-23 20:05] mhils commented on #2056
This is fixed on master. Thanks again! 😃

[2017-10-23 20:05] #2056 closed

[2017-10-24 15:13] yeradis commented on #2598
@mhils you are right, just installed the homebrew version and went to the repo and tried to follow the examples

with this in mind will be easy
its my fault for not `reading` : "If you are browsing this on GitHub, make sure to select the git tag matching your mitmproxy version" at https://github.com/mitmproxy/mitmproxy/tree/master/examples

but its interesting the "breaking" changes i just "found"

[2017-10-24 15:13] #2598 closed

[2017-10-24 15:16] mhils commented on #2598
Thanks for the feedback and sorry for the confusion. The current API is a bit preliminary, we're basically experimenting with different models for a (then) stable API.

[2017-10-24 17:44] #2110 closed

[2017-10-24 18:09] james-88 opened #2605 "Transparent proxy not catching responses"
Hello,

I have a network of 2 devices, the network is configured to work as the following:
                                        Device A                    Device B
| GATEWAY | --------> | MITMPROXY | ------> | SOURCE |

So basically only data coming from the gateway to the source flow through the device where mitmproxy is running, now if I configure this network to work as a normal network the

[2017-10-25 03:03] henrymark92 opened #2607 "How to forward mitmproxy to other proxy?"
Hi all. How to use mitproxy to forward proxy, modify and bypass request?
1. Make forward mitmproxy (ex: 127.0.0.1:8080) to other proxy (ex:213.45.34.5:8999)
2. Make modify request
3. Make bypass SSL (tls_passthrough.py)
Anyone. who can help me?
Thanks

[2017-10-25 08:20] #2563 closed

[2017-10-25 08:20] mhils commented on #2563
This is fixed on master now, thanks!

[2017-10-25 09:03] mhils commented on #2607
Thanks for getting in touch. We're generally happy to help out, but you need to demonstrate that you made an effort at solving the problem yourself first. Can I please ask you to follow up in [our community forums](https://discourse.mitmproxy.org/) for all support and how-to questions?

Thanks!
Max

[2017-10-25 09:03] #2607 closed

[2017-10-25 09:06] mhils commented on #2605
Mitmproxy needs to see the full TCP connection, we cannot operate on only seeing traffic flowing in one direction. I don't know of any other tool that would support that, you'd need to look for something that works on individual packets or change your setup. 😃

[2017-10-25 09:06] #2605 closed

[2017-10-25 09:09] mhils commented on #2597
Hi,

The first error is hard to diagnose - are you on an IPv4 or IPv6 network (see #2594)?

Regarding your second error, it looks like mitmproxy cannot reach the internet? You can for example check that by creating an artificual flow in mitmproxy (`n`) and then replay it (`r`).

[2017-10-25 09:10] #2584 closed

[2017-10-25 09:10] #2582 closed

[2017-10-25 09:21] mhils commented on #2555
Sorry again. 😢

Regarding your first feature request, that is tricky as `mitmdump -w foo` could then be interpreted as either "write to a file called foo" or "write to `mitmproxy-flows-20170901102532546` and set the flow filter to foo". I'd be very open to a PR that runs strftime on the filename though. If that's something that you think would be useful, please feel free to open a new issue so tha

[2017-10-25 09:21] #2555 closed

[2017-10-25 09:36] mhils commented on #2567
Thanks for the patience.  I unfortunately cannot reproduce this on master. If I have two HTTPS requests with the same target domain, mitmproxy successfully restores the original destination after the first request for me. If I have two HTTP requests, they are routed to the correct target as well. If you have instructions on how this can be reproduced with curl, please let me know and we can reopen

[2017-10-25 09:36] #2567 closed

[2017-10-25 09:36] mhils commented on #2246
Pretty sure this is an error and we should do that.

[2017-10-25 09:38] mhils commented on #2552
Works fine for me with the latest docker release using `https_proxy=http://localhost:8080/ curl -k https://www.facebook.com`.

[2017-10-25 09:38] #2552 closed

[2017-10-25 09:40] mhils commented on #2595
You still need to listen on the correct port (`-p 5656`) and you just want to use `--tcp .*` (read the docs page more carefully):

`mitmproxy -p 5656 -R 192.168.20.2:5656 --tcp .*`

[2017-10-25 09:41] mhils commented on #2522
Thanks for the feedback. This is nothing we plan to have for mitmproxy's core, but surely can be implemented in an independent addon! :smiley:

[2017-10-25 09:41] #2522 closed

[2017-10-25 09:47] Prinzhorn commented on #2555
Sounds great! As I said above I keep acting like `-w` does not exist and stick with `-a` as it does not have any drawbacks :+1:

[2017-10-25 09:50] mhils commented on #2564
This is still broken: First, the error message flashes; Second, the event log should follow by default.

[2017-10-25 09:51] mhils commented on #2564
I will remove this from the 3.0 milestone as it's not a regression, but it's definitely be something we want to fix ASAP.

[2017-10-26 06:48] ddor254 opened #2609 "transparent mode and mitm certificate do not work."
Hi , i'm facing a problem when running transparent mode and mitm certificate is trusted in the proxied machine -

when i'm running on regular mode and i do manual proxy on the proxied machine - all good and i can decrypt the https traffic with the mitm certificate. - see no problems and i'm entering https sites with no warnings.

when changing that to -T option (transparent) and creating iptables

[2017-10-26 17:15] mhils commented on #2609
Are you looking at the same application? This is most likely an issue with your phone, not mitmproxy.

[2017-10-27 04:04] skotti commented on #2595
Actually, as I have written earlier this is an invalid server specification, I can't specify server with ip and port. It causes an error. Maybe you know a way, how to tell mitmproxy to accept such a notation?

[2017-10-27 17:00] jeretc commented on #1437
hi i am having the same issue installing it on parrotsec 3.8.  "pip install --user mitmproxy"

$sudo pip install -U cryptography
Requirement already up-to-date: cryptography in /usr/local/lib/python2.7/dist-packages
Collecting six>=1.4.1 (from cryptography)
  Using cached six-1.11.0-py2.py3-none-any.whl
Requirement already up-to-date: cffi>=1.7; platform_python_implementation != "PyPy" in /usr/loc

[2017-10-27 17:26] jeretc opened #2611 "Failed building wheel for cryptography"
##### Steps to reproduce the problem:

1. sudo pip install --user mitmproxy

##### Any other comments? What have you tried so far?
mitmproxy error shows failed building cryptography wheel  ..error: command 'x86_64-linux-gnu-gcc' failed with exit status 1

i have installed, cryptography without errors:

└──╼ $sudo pip install -U cryptography
Requirement already up-to-date: cryptography in /usr/loca

[2017-10-28 09:15] Kriechi commented on #2611
It seems you are trying to install mitmproxy 0.18.2 - which is very old und unfortunately not supported any more (and it is python2.7).

Please use mitmproxy 2.0.2 and Python 3.5 (or higher).
Make sure to use `pip3 install mitmproxy` to get the correct version installed.

[2017-10-28 09:15] #2611 closed

[2017-10-28 14:29] jeretc commented on #2611
hi i already have it installed.

sudo pip3 install mitmproxy
[sudo] password for parrot:
Requirement already satisfied: mitmproxy in
/usr/local/lib/python3.5/dist-packages
Requirement already satisfied: pyperclip<1.6,>=1.5.22 in
/usr/local/lib/python3.5/dist-packages (from mitmproxy)
Requirement already satisfied: hyperframe<5,>=4.0.1 in
/usr/local/lib/python3.5/dist-packages (from mitmproxy)
Requ

[2017-10-28 20:57] mdavids commented on #2308
I seem to have the same problem. In transparent mode (-T), mitmproxy 2.0.2 on OSX does not go into SSL-mode. This results in an 'SSL protocol error' on the clientside. I need transparent mode though. Because without it, it goes into 'proxymode', resulting in: "expected: authority or absolute, got: relative", which makes sense because the client has no proxy-server configured but is diverted to mit

[2017-10-28 21:00] mdavids commented on #2609
See my comment in https://github.com/mitmproxy/mitmproxy/issues/2609, it really seems as if -T breaks SSL.

[2017-10-28 21:03] mdavids commented on #2597
See my comment in https://github.com/mitmproxy/mitmproxy/issues/2609, it seems that -T disables TLS/SSL. Maybe the error 'could not resolve original destination' is explained by this as well? Because --host or SNI is not reached (after all, there is never proper connection).

[2017-10-29 03:21] teguh24 opened #2612 "pip install mitmproxy==0.16 failed error: command 'x86_64-linux-gnu-gcc' failed with exit status 1"
build/temp.linux-x86_64-2.7/_openssl.c:59549:29: warning: passing argument 2 of ‘X509_get0_signature’ from incompatible pointer type [-Wincompatible-pointer-types]
       { X509_get0_signature(x0, x1, x2); }
                                 ^~
    In file included from /usr/include/openssl/cms.h:16:0,
                     from build/temp.linux-x86_64-2.7/_openssl.c:532:
    /usr/include/openssl/x5

[2017-10-29 13:43] mhils commented on #2612
Thanks. It looks like your mitmproxy is outdated. Could you please upgrade an try again?

[2017-10-29 13:43] #2612 closed

[2017-10-29 13:48] mhils commented on #2597
@mdavids: I appreciate that you are looking through the issue tracker before opening a new one, but this issue here seems entirely unrelated to me. :-)

[2017-10-29 13:50] mhils commented on #2308
It usually does - this works fine for me on Windows and others on OSX. Can you please open a new issue with some more details on your configuration? In particular, which client devices/applications have you tried?

[2017-10-29 13:53] mhils commented on #2609
@mdavids: `ERR_CERT_AUTHORITY_INVALID` on the client means that the client doesn't trust the mitmproxy certificate authority. That almost always is not a mitmproxy issue. Anyways, let's not sidetrack this and continue your discussion in a separate issue from https://github.com/mitmproxy/mitmproxy/issues/2308#issuecomment-340263793

[2017-10-29 21:33] mdavids commented on #2609
One last comment here, as a reply to yours. :-)

It's not as you suggested. There is simply no TLS. So for example: https://example.nl/ (ending up at mitmproxy) gives an SSL protocol error and http://example.nl:443/ works (but obviously without SSL).

Here's what I did:

# does not work, no SSL
sudo ./mitmweb --no-onboarding -T --host --no-upstream-cert --port 443 --cert *=myowncert.pem

# works f

[2017-10-30 06:38] nesttle opened #2613 "TypeError: a bytes-like object is required, not 'str'"
##### Steps to reproduce the problem:
script.py:
[code]
 **TypeError: a bytes-like object is required, not 'str'**

I need to use b"customstring" instead "customstring". This script was working fine on mitmproxy 0.18 but fails on mitmproxy 2.0.0

Want to use the same script because is very long and was stable on older mitm version. Any way to use strings instead bytes?

##### Any other comments? W

[2017-10-30 07:36] mhils commented on #2613
I can't link to this from mobile, but take a look at get_text and get_content at http://docs.mitmproxy.org/en/stable/scripting/api.html#mitmproxy.http.HTTPResponse! `.content` is bytes, .text is the completely decoded version! Downside of using bytes is that malformed documents may raise an error unless you pass strict=False.

[2017-10-30 07:51] nesttle commented on #2613
Thanks @mhils !

I'm trying with ` flow.response.text` (instead .content) but no luck, :(

[2017-10-30 07:56] nesttle commented on #2613
Done!

I was missing the following line:
`from mitmproxy import http`
and use
`def response(flow: http.HTTPFlow) -> None:`
instead
`def response(flow)`

Now .text is working! Thanks @mhils

[2017-10-30 08:04] #2613 closed

[2017-10-30 09:20] mhils commented on #2613
For the record, the import for the type annotation shouldn't make a difference, but glad you made it work! 😃

[2017-10-30 20:19] jamespo opened #2614 "Configurable reverse proxying per site"
Similar to

-R http://example.com --setheader :~q:Host:example.com

from the docs I'd like to forward all requests for eg http://a.com to http://b.com (with host header appropriately set for a.com) but all other requests to go to their "proper" destination?

[2017-10-31 10:19] mhils commented on #2614
Thanks for the feedback. We are tracking something similar in https://github.com/mitmproxy/mitmproxy/issues/1454, so I'd close this here. 😃
If you feel there are any points missing in #1454, please comment there!

[2017-10-31 10:19] #2614 closed

[2017-10-31 10:26] mhils commented on #2595
You can just prefix the server with http:// - the next release will have that fixed and accepts plain server:port specs.

[2017-10-31 18:21] skotti commented on #2595
Ok , thanks, for mitmdump version this work. However, launching mitmproxy I don't see any traffic. Am I able to parse or analyze or intercept tcp traffic? In your docs it is said, that no, but I want to be sure. I need to intercept tcp traffic, parse it, maybe with some dissector and then forward further.

[2017-10-31 18:27] skotti commented on #2595
I mean raw tcp traffic, http://docs.mitmproxy.org/en/stable/features/tcpproxy.html

[2017-11-02 10:23] mhils commented on #2309
This one:
[code]
has been fixed in https://github.com/mitmproxy/mitmproxy/pull/2610. I can't reproduce the rest, so let's   open a new issue once it occurs again. 😃

[2017-11-02 10:26] #2309 closed

[2017-11-02 12:30] mhils opened #2616 "Complete Options & Commands Work"
Umbrella issue for all the console-related improvements that are needed for 3.0. The command/options changes introduced a lot of changes here, and we need to make sure that the regressions aren't too severe:

- UX for Keyboard Shortcuts
  - [ ] If I press `b` in the flow list, `:cut.save s.content|@focus` appears. It's unclear what I as a user am supposed to do here. (#2650)
  - [ ] Same for `|`,

[2017-11-02 12:55] Kriechi commented on #2616
Yes, the new console commands (and UX) is still unfinished and needs some testing before we should release it. The core components are there and seem to be solid. The UI/UX can benefit from some love though 😄

That said, I think it could be a major feature for 3.0 - if we find the time do to the required work.
Maybe we can also start putting together a changelog for 3.0, and then decide if & what

[2017-11-02 13:09] mhils commented on #2616
We have 900 commits on master since 2.0, so I think featurewise we're more than packed for 3.0 (options, contentviews, mitmweb, ...).

I am really looking forward to have commands in mitmproxy, as it's going to be a fantastic feature. I just think that fixing the command ux will take a bit really, and we're far behind the 2-month schedule we agreed on at some point. There's really nothing that sto

[2017-11-02 18:18] hpello opened #2617 "Wrong value for flow address on successive requests"
Hi,

I encountered a problem which I think is similar to #2567.

I could easily reproduce it with my client (Alamofire on iOS), although it took me some time to reproduce it with `curl`.

When my client tries to access `https://my.api.com` through `mitmproxy`, I want requests to be transferred to my server running on `http://localhost:8080`.

To do so, I have the following script:
[code]

Now, wha

[2017-11-02 20:34] skotti commented on #2595
Are there any ideas on intercepting tcp?

[2017-11-02 23:52] mhils commented on #2617
Thanks for tracking this down and submitting such a detailed report! :smiley: I'm quite busy this week, but will try to take a look as soon as possible.

[2017-11-02 23:55] mhils commented on #2595
Take a look at
http://docs.mitmproxy.org/en/stable/scripting/events.html#tcp-events and
what is printed in the event log. It's _very_ rudimentary, but may work
depending on your use case.

On Thu, 2 Nov 2017, 21:34 Anastasiya Ruzhanskaya, <notifications@github.com>
wrote:

[2017-11-03 12:53] pruzam opened #2618 "Bug in expected_http_body_size"
##### Steps to reproduce the problem:

1. Any response with more than one content-length header

##### Any other comments? What have you tried so far?

headers is MultiDict so this:
size = int(headers["content-length"])
can be change to:
size = int(headers.get_all("content-length")[0])

[2017-11-03 13:04] mhils commented on #2618
Thanks. Would you like to file a PR that fixes that? We should use `get_all` and verify that all returned values are equal as per https://tools.ietf.org/html/rfc7230#section-3.3.2. Like that:
[code]

[2017-11-03 15:14] #2609 closed

[2017-11-03 15:53] mhils commented on #2617
Thanks again for the fantastic description. I just opened #2619, which fixes this problem. 🍰 🎉

[2017-11-03 16:32] ks07 commented on #1821
As an extension to this, I would like to be able to modify the upstream proxy programmatically on a per-request basis. Is there currently any way to do this via the scripting API? From looking at the docs this is not currently possible, but it would allow me much greater control over how upstream proxies are configured, especially where distinct sites require different proxy settings.

[2017-11-03 16:35] mhils commented on #1821
@ks07: You can change the upstream proxy using the scripting API: https://github.com/mitmproxy/mitmproxy/blob/master/examples/complex/change_upstream_proxy.py. On a technical level skipping and changing are quite different, so let's keep this feature request at the former.

[2017-11-03 16:40] ks07 commented on #1821
@mhils That looks ideal, thanks.

[2017-11-03 17:17] hpello commented on #2617
No worries. Glad I could help :)

Thanks very much for the fix. I just tested it and I can confirm the problem does not appear anymore, with `curl` or with my client! 👍

[2017-11-03 17:22] hpello commented on #2617
Oh by the way, when do you think the next release will be available?

[2017-11-04 15:09] skotti commented on #2595
As  soon as I still didn't reach the desired result, pleas could you tell, am I able not only to see logs, but to change tcp messages and delay them?

[2017-11-05 10:36] skotti commented on #2595
Also, I when  I launch mitmdump in reverse mode:
events, related to tcp messages are not printed, only client connect, clientdisconnect:
mitmdump -p 5656 -R http://192.168.20.1:5656 --tcp '.*'
192.168.20.2:60600: clientconnect
192.168.20.2:60600: -> tcp -> 192.168.20.1:5656
1

this is what I see when I send one

[2017-11-06 08:38] ritiek commented on #2529
@mhils Yes, this is a still a problem on master (1d55d241f8f3c3c49a67777de42c9636a39c93db).

[2017-11-06 10:17] ritiek opened #2620 "Mitmproxy odd UI behaviour"
##### Steps to reproduce the problem:

1. Run `mitmproxy` and start intercepting flows.

2. Let the UI fill with flows and then goto the last flow.

![m1](https://user-images.githubusercontent.com/20314742/32436238-62843d80-c309-11e7-9c28-df97ff8b4688.png)

3. Press up key to go one flow above.

4. The UI shifts one flow downwards instead of marker going one flow upwards.

![m2](https://user-image

[2017-11-06 10:21] mhils commented on #2620
Good catch. Thanks! 😃
Are you comfortable taking a stab at this and attempt a PR? ☺️

[2017-11-06 10:23] #2617 closed

[2017-11-06 10:29] ritiek commented on #2620
Yeah, sure! I'll make a PR as soon as I make any progress.

[2017-11-06 10:30] mhils commented on #2620
Thanks! Please feel free to hop on our Slack chat if you have any questions. :-)

[2017-11-06 10:45] mhils commented on #2529
Looking into this, there's a more general issue. When we duplicate a flow, it still has `flow.intercepted` set to True. This is a bit confusing as there is no corresponding connection that we could "resume". Do we want to

1. Make "resume" a no-op in these cases, which just sets `intercepted = False`
2. Set `.intercepted = False` on duplication *and file save* (where we have the same issue)?

@cor

[2017-11-06 17:56] ciblus commented on #2548
try this
pip install mitmproxy

[2017-11-07 09:58] pruzam commented on #2618
Yes, i'll do it today.

[2017-11-07 11:28] mhils opened #2622 "Console Options: Wrong help text shown when entering value."
##### Steps to reproduce the problem:

1. Use arrow keys to navigate to random option, e.g. ciphers_client. The help string now is "Set supported ciphers for client connections using OpenSSL syntax."
2. Press enter twice to start and finish edit.
3. The help box now shows the help text of the first option ("Add all certificates of the upstream server to the certificate chain that will be served to

[2017-11-08 21:24] RedDuckss opened #2624 "Cannot connect to reCaptach"
![screenshot_20171108-161227](https://user-images.githubusercontent.com/27011796/32574977-be03e780-c4a0-11e7-88ef-cd55d6f89886.png)

# Steps to reproduce the problem:

1. Setup mitmproxy
2. Setup SLL certs on Android device (I used this tutorial https://blog.heckel.xyz/2013/07/01/how-to-use-mitmproxy-to-read-and-modify-https-traffic-of-your-phone/#Install-mitmproxy-CA-certificate-in-the-phone)
3.

[2017-11-10 07:31] sc911 opened #2625 "UnicodeError: label too long"
##### Steps to reproduce the problem:

1. Two Virtual-Box-VMs, Host: Win 8.1, Client: Win 10, ProxyVM: Ubuntu 16.04.3 LTS
2. Followed this guide: http://docs.mitmproxy.org/en/stable/tutorials/transparent-dhcp.html
3. As I want to capture traffic of a specific app I added the following entries to ip tables
`-A PREROUTING -i enp0s8 -p tcp -m tcp --dport 80 -j REDIRECT --to-ports 8888`
`-A PREROUTING

[2017-11-10 21:16] tapionx commented on #2091
i confirm the issue.
Steps to reproduce:
```mitmdump -w dump```
```mitmproxy -r dump```
here i can see the requests in the correct order
```mitmweb -r dump```
now the requests are all mixed

Being able to inspect the requests in the original order is really important when you need to debug a session

[2017-11-12 22:32] moble commented on #2597
Was this resolved, or just closed for lack of response?  I'm having the same transparent mode failure issue.  In non-transparent mode I can access http sites with no trouble.  However, when accessing https sites, I consistently get an error because a secure connection could not be established, even on sites that don't use pinning.  (I'm sure of this because one of those sites is my own and I just

[2017-11-13 01:44] mhils commented on #2597
@moble: Are you perhaps hitting https://github.com/mitmproxy/mitmproxy/issues/2594?

[2017-11-13 02:07] moble commented on #2597
Maybe, but I tried updating to the current git master HEAD, and trying to work around that bug, and get the same results.  Specifically, I tried commenting out that whole `try`-`except` block that tries to get the IPv6 socket, expecting that it should fall back to just the IPv4 block.  I get the same error (but in a nicer-looking interface!).

Also, I still get the same non-transparent behavior.

[2017-11-13 05:16] mhils commented on #2597
@moble: Could you attempt adding some debugging print statements to [mitmproxy/platform/osx.py](https://github.com/mitmproxy/mitmproxy/blob/master/mitmproxy/platform/osx.py) and [mitmproxy/platform/pf.py](https://github.com/mitmproxy/mitmproxy/blob/master/mitmproxy/platform/pf.py) to figure out what's happening?

`peer` should have the client ip/port and we then call `pfctl` to obtain the actual d

[2017-11-13 08:05] imilo opened #2627 "Allow to push/inject own WebSocket messages"
I inspect a HTTPS WebSocket traffic with Mitmproxy. Currently I can read/edit WS messages with:
[code]
… as attached script to Mitmproxy.

Please add a functionality to push/inject our own messages to the client/server. Not edit existing one, but send a new message.

[2017-11-13 15:08] moble commented on #2597
Okay, I added print statements basically everywhere in those two files that a new value is obtained.  Each time [`peer` is obtained](https://github.com/mitmproxy/mitmproxy/blob/f17c0fdac636f7269f4885294e2a8d2c52c23590/mitmproxy/platform/osx.py#L22), I see the IP of my phone as a string, followed by an integer that increments each time, in the ~50000 range.  That looks reasonable.  (This is still w

[2017-11-13 15:12] mhils commented on #2597
Thanks, this is super helpful. Does this help: https://superuser.com/a/1172786 ?

[2017-11-13 15:14] moble commented on #2597
Nope.  I found that answer too, and upvoted the comment because it didn't work for me either.

[2017-11-13 15:16] moble commented on #2597
More specifically, the firewall was already on in System Preferences.  I tried turning it off and on again anyway, and still got just the ALTQ output.  Then I tried `sudo pfctl -E`, which looked like it worked, but still got just ALTQ.

[2017-11-13 18:05] acheshkov commented on #1643
i have a website consisting of about 100 JS files. i use scripting method to load the files from localhost.
And this scheme work so slow that it impossible to use :(

[2017-11-14 01:32] linkdesu commented on #68
If you are MacOS , rerun `xcode-select --install` this problem may be fixed.

[2017-11-14 09:20] Kriechi commented on #1745
Happy 1st year anniversary! 🎉 👏 🥇

I just verified that this bug still exists. It does.
Increasing the character limit to 280 was probably more important than fixing a broken webserver...

[2017-11-14 15:49] robben1234 opened #2628 "har_dump: KeyError: 'log'"
##### Steps to reproduce the problem:

1. save flow `mitmproxy -w dump`
2. try to convert it to har with `mitmproxy -n -r dump -s har_dump.py`
3. watch stacktrace instead of har file:

[code]

##### Any other comments? What have you tried so far?

##### System information

Mitmproxy version: 2.0.2 (release version)
Python version: 3.6.3
Platform: Darwin-17.2.0-x86_64-i386-64bit
SSL version: OpenSS

[2017-11-14 16:22] ujjwal96 commented on #2628
Looks like you're using the script from master branch with 2.0.2
Try using this instead https://github.com/mitmproxy/mitmproxy/blob/2.0.x/examples/complex/har_dump.py

[2017-11-14 16:22] #2628 closed

[2017-11-15 10:44] hryamzik opened #2630 "mitmweb shows nothing"
##### Steps to reproduce the problem:

1. Run on hight sierra
2. `mitmweb -nr some.dump`

![image](https://user-images.githubusercontent.com/1643962/32831963-47694142-c9fa-11e7-8fe3-8674fae0428c.png)

##### Any other comments? What have you tried so far?

Works fine on sierra with the same version of mitmproxy.

##### System information

[code]

[2017-11-15 15:46] akash612 commented on #2620
@mhils Is this still open ? I would like to give it a try.

[2017-11-15 15:53] ritiek commented on #2620
@akash612 Yeah, I am a bit busy at the moment. Feel free to take this.

[2017-11-15 17:04] fsareshwala commented on #1745
Hey guys, apologies for not keeping up on this ticket. We are definitely working on this internally and will have it fixed soon. I can't give an exact timeline but it is being actually being addressed as compared to my last post.

[2017-11-15 22:16] sc911 commented on #2625
OK, using sslsplit I found that all messages are Remote Invocations of Spring Framework. Nothing near to http...

[2017-11-15 22:16] #2625 closed

[2017-11-16 07:33] mhils commented on #2630
Which browser are you using? Is there anything in your browser's developer console?`Does it work in other browsers?

[2017-11-17 04:28] mhils commented on #2624
The app you are looking at probably uses certificate pinning, which we cannot fix - sorry.
http://docs.mitmproxy.org/en/stable/certinstall.html#certificate-pinning

[2017-11-17 04:38] RedDuckss commented on #2624
You say you can’t fix it and that the request is rejected because of certificates, however I was able to use Fiddler on the same application with no issues. So how is it that the application accepts connections from Fiddler and not this

[2017-11-17 05:25] mhils commented on #2624
That piece of information was missing in the initial post, sorry. Can you possibly provide me with a PCAP?

[2017-11-17 12:00] hryamzik commented on #2630
It's Chrome. Nothing in console. It works in the same browser if I run proxy from docker.
[code]

[2017-11-17 12:38] ifishchuk opened #2631 "configure mitmproxy(2.0.2) as Upstream proxy to Charles()"
Hi,

I tried to configure mitmproxy in upstream proxy mode to Charles(4.2) as was described [here](https://github.com/mitmproxy/mitmproxy/issues/313)

In my case there is the following scheme:

Client(Roku)<---https/http--->MITMproxy<----HTTP/HTTPS---> Charles

I  trusted the root CA cert in my keychain and even imported mitmproxy-ca-cert.p12 into Charles
If I run mitmproxy -T --host(in the transp

[2017-11-17 13:10] RedDuckss commented on #2624
Yes my apologies. It was missing from the original post because at the time of making it, I had not tried Fiddler. I will provide a PCAP asap, as I do not have access to a PC at the moment.

[2017-11-17 16:22] Mradr opened #2632 "Random Error"
##### Steps to reproduce the problem:

1. Random Error when working with a Samsung device

[code]

##### Any other comments? What have you tried so far?
Nothing yet, but looking into the problem. Figure I send in the log

##### System information
Mitmproxy version: 2.0.2 (release version)
Python version: 3.5.3
Platform: Linux-4.10.0-38-generic-x86_64-with-Ubuntu-17.04-zesty
SSL version: OpenSSL 1.

[2017-11-18 20:16] skotti opened #2633 "Message stopping"
Hi,
I was able to successfully install launch mitmproxy how  I wanted. Now a have a question about packages.
As I have found out mitmproxy doesn't do any assembling of messages. But I need to wait the very end of the message (suppose I know how it should end and maybe it can be large enough to be broken into peaces), check smth and only then send the whole stuff. Are the operations similar to thes

[2017-11-19 04:31] skotti commented on #2633
Or maybe there are places where I can implement this logic of waiting of another message by myself?

[2017-11-19 07:19] skotti opened #2634 "Stop traffic and send tcp answer"
Hello!
I want to filter inside proxy the incoming traffic by some rule and drop packets where the traffic is not 'good' for me. Is it possible to stop everything and send back the message with failure? Or simply stop?

[2017-11-19 07:32] skotti commented on #2634
I managed to launch fully tcp mode in transparent proxy, is it possibly to do smth like this there? Or only in reverse proxy?

[2017-11-20 10:38] Sjord opened #2635 "mitmdump does not apply filter to saved data"
##### Steps to reproduce the problem:

1. I captured some traffic, and ran the following to filter it:

[code]

It displays only the matched URL, but it saves all traffic. When done, out.mitm contains the same requests and responses as traffic.mitm. I.e. `mitmproxy -r out.mitm` shows a lot of requests, where I would expect only the request for main.css.

##### Any other comments? What have you tri

[2017-11-20 21:18] ramiscoding commented on #738
Is the issue still open for external contributions?

[2017-11-20 21:25] Kriechi commented on #738
Yes - we are happy to accept PRs!

[2017-11-21 09:45] ifishchuk commented on #2631
I found another useful way to accomplish my needs by using HAR file. In such a case I can collect all the information(http/https) over mitmdump and convert it to a HAR which can be easily diagnosed in Charles.
But as far as I see har_extractor.py that was described [here](https://github.com/mitmproxy/mitmproxy/issues/986) isn't available anymore. There is only https://github.com/mitmproxy/mitmprox

[2017-11-21 12:35] Sjord commented on #2635
Fix works for me.

[2017-11-21 13:16] ifishchuk commented on #2631
`mitmdump --version
Mitmproxy: 3.0.0dev0965 (168c72a)
Python:    3.6.1
OpenSSL:   OpenSSL 1.1.0g  2 Nov 2017
Platform:  Linux-4.10.0-38-generic-x86_64-with-debian-stretch-sid`

`git log --pretty=format:"%h%x09%an%x09%ad%x09%s" examples/complex/har_dump.py2a46f38 Aldo Cortesi    Thu Apr 27 07:40:14 2017 +1200  Merge pull request #2265 from cortesi/addons
87610cc Maximilian Hils Wed Apr 26 14:15:33

[2017-11-21 16:15] ifishchuk commented on #2631
Could anyone please shed some light on the problem mentioned above?
I'm trying to use the latest Mitmproxy dev version but can't convert the dump to har format.

[2017-11-21 19:36] ravish-bhatia commented on #2235
Hi,

Is this issue still open?

[2017-11-22 03:26] #2635 closed

[2017-11-22 08:47] ifishchuk commented on #2631
Ok, I've just switched to 2.0.x branch

mitmdump --version
Mitmproxy version: 2.0.2 (2.0.2dev0004-0x3d4d580)
Python version: 3.5.4
Platform: Linux-4.10.0-38-generic-x86_64-with-debian-stretch-sid
SSL version: OpenSSL 1.0.2g  1 Mar 2016
Linux distro: debian stretch/sid

installed all the packages from requirements.txt and was able to convert the dump to HAR file

Thank you

[2017-11-22 14:25] elorz007 opened #2638 "Mitmproxy cannot decode WBXML"
##### Steps to reproduce the problem:
On
1. Open a request that contains WBXML (for example, sync requests of Apple Mail app)
2. In both the request and response tabs I see `Couldn’t parse: falling back to raw`

##### Any other comments? What have you tried so far?
I tried different versions of python with virtualenv, no difference.
I tried installing from pip and from brew, no difference.

I trie

[2017-11-22 16:30] awdng opened #2639 "Running custom server instead of running mitmdump/mitmproxy"
For a study project, i decided to build a GUI for mitmproxy as a learning project.
I originall planned that his tool would run the ProxyServer itself instead of running another tool (mitmproxy) next to it and communicating with it, but seems like it recent versions this functionality has been mostly replaced and it is strongly encouraged to use mitmdump and the scripting api.

Now, let's say in th

[2017-11-22 18:16] dylib commented on #2434
@mhils: Hello, regarding Certificate Pinning on iOS — In the documentation it says:

I'm not aware of any jailbreak iOS 11 (?). If you have any information that might set me on the right path toward that goal it would be extremely helpful. While trying to debug iOS apps that use certificate pinning it's completely killed any possible means for that happening.

~ Thank you!

[2017-11-22 18:45] DominikFX commented on #2434
@dylib As of today, with no iOS 11 jailbreak, I did manage to find a way to intercept and decrypt Snapchat traffic and take down their certificate pinning. I have not put much work into this but to accomplish this I downloaded an android emulator called "MEmu" and rooted it. To open it up further I installed Xposed (took a few tries) and with it a package called "SSLUnpinng". I set up Charles Prox

[2017-11-22 19:32] awdng commented on #2437
I have a similar question @chenzx
ever found a way to do this ?

[2017-11-23 20:13] edi9999 opened #2640 "Dump with websocket messages"
Hello,

I would like to record full http + websocket traffic including websocket messages.

I have tried `mitmdump -w dump`

However, it seems that in the recorded file, only the http requests+ responses are recorded, and the websocket initialisation, but not the separate websocket messages (called frames in chrome Dev tool).

Is it possible to record the websocket frames too with the command line

[2017-11-25 06:15] ericstoekl opened #2641 "Unable to import certificate in Chrome on Ubuntu 16.04"
Trying to set up certificates, according to [this post](https://github.com/mitmproxy/mitmproxy/issues/551#issuecomment-107452502) I should be able to go into the settings in chrome and import a certificate. I am trying to import the certificates that I generated by running `mitmproxy` for the first time. I converted the 1.pem` files to `.crt` format using the method recommended in the [stackoverfl

[2017-11-25 11:31] mhils commented on #2639
Hi Arne! Sounds like a fun project - feel free to join us on Slack and bug us with questions. :-)

To start off, have you looked at mitmweb, our web interface? It already provides a REST API you can use. The code in https://github.com/mitmproxy/mitmproxy/blob/master/mitmproxy/tools/web/ should also give you an idea how it is implemented. You should be able to implement what you want in an addon, w

[2017-11-25 11:36] mhils commented on #2641
Hi,

This indicates that your traffic is not going through mitmproxy, i.e. it never reaches mitmproxy (and we thus cannot intercept it). This issue sounds unrelated to certificate import.

It looks like you are importing in the wrong category. It probably needs to be added under "authorities". 😃

[2017-11-25 11:37] mhils commented on #2640
Sounds like something we need to fix in https://github.com/mitmproxy/mitmproxy/blob/master/mitmproxy/addons/save.py - thanks for the heads-up!

[2017-11-25 19:02] ujjwal96 commented on #2640
@mhils is this a bug? iirc websocket flows are not part of the UI yet so even writing them to output file won't be of any help.
@edi9999 As a workaround you can see the websocket messages in the log on git-master

[2017-11-25 19:44] ujjwal96 commented on #2638
Will it be possible for you to share the WBXML file?
Both the versions, 2.0.2 and 0.17 use the same decoder https://github.com/mitmproxy/mitmproxy/tree/master/mitmproxy/contrib/wbxml
If it works in 0.17 it should work in 2.0.2

[2017-11-25 20:00] ericstoekl commented on #2641
Thanks @mhils. It looks like traffic is not going through mitmproxy.

I have tried with the docker container and I am still having the same issue:

[code]

Any way to debug this? `mitmproxy` runs, I get the blue ncurses screen, and it looks like it should. However, I cannot reach `localhost:8080`.

Thanks in advance,
Eric

[2017-11-26 02:10] mhils commented on #2640
@ujjwal96: We should definitely persist the flow, as we do it with TCP flows.

[2017-11-27 18:01] #2618 closed

[2017-11-27 18:46] pimlottc-gov commented on #1608
@sryze The reason you don't see an error in Chrome is that Chrome uses the system's list of trusted CAs (via the macOS Keychain), while mitmproxy is using openssl, which uses it own separate list of trusted CAs.

One solution would be to update the list of trusted CAs used by mitmproxy, but so far I'm not sure where that is stored (it doesn't seem to be using the same file as the `openssl` command

[2017-11-28 00:34] mhils commented on #1608
@pimlottc-gov: We use the Python `certifi` package (https://pypi.python.org/pypi/certifi) as the default source for trusted CAs. Unfortunately there's no good cross-platform solution for using the system CA store. You can use ssl_verify_upstream_trusted_ca (slightly different name on 2.0 I think) to specify a custom file or folder.

[2017-11-28 10:59] turowicz commented on #2575
[code]

[2017-11-29 09:04] turowicz opened #2644 "mitmdump not exiting after serving a request"
##### Steps to reproduce the problem:

Hey I'm running mitmdump in a docker container on a VM. Over time, the memory overflows and disk swap starts, rendering the proxy unusable. This is easily fixed by a system reboot.

I start the execution with the following command:

`sudo docker run -d --restart unless-stopped -p 80:8080 -v ~/HttpReorder.py:/tmp/HttpReorder.py mitmproxy/mitmproxy mitmdump -s

[2017-11-29 15:19] voider1 opened #2645 "Mitmdump script doesn't catch all requests"
[code]

For some reason this script doesn't print the HOST at every request. Any ideas?

[2017-11-29 16:56] pimlottc-gov commented on #1608
@mhils Ah, thanks for the pointer.  Using this, I was able to resolve the error permanently by adding my organization's internal CA to the `certifi` package included within `mitmproxy`.

For my homebrew-installed copy of mitmproxy, I found the CA list at:
[code]
YMMV

[2017-12-01 17:33] elorz007 commented on #2638
This is an example of WBXML
hexdump:
[code]
or raw:
[code]

Which is correctly decoded in 0.17.1 as
[code]
But it is failed to decode in version 2.0.2:
![screen shot 2017-12-01 at 18 28 20](https://user-images.githubusercontent.com/3601038/33495127-79ada6c0-d6c5-11e7-9039-2ae08f0c6e8d.png)

And I checked that the content (by exporting it with command "b") is exactly the same

[2017-12-02 03:27] ravish-bhatia commented on #2235
I have been working on this issue, and haven't succeeded much as of now.
So, another approach which I am planning to implement involves following test case:
- get verisign(or any root CA) crl list/file on local machine
- when mitmproxy acts as a client, it verify the certificate against this CRL file on the machine
- This is just a test case, it is not easy to get all the root CA's crl file on the

[2017-12-02 12:18] archieacharya commented on #2620
Is this issue open? I would like to give it a try.

[2017-12-02 12:45] mhils commented on #2638
Very helpful, thanks!

[2017-12-04 10:21] mhils commented on #2235
@ravish-bhatia, thanks for your interest in fixing this. This issue unfortunately is not an isolated mitmproxy issue, see for example Scott Helme's fantastic essay on why [revocation is broken](https://scotthelme.co.uk/revocation-is-broken/). I strongly believe that this issue fundamentally needs to be fixed outside of mitmproxy before we can make any progress here.

Coming back to your proposal,

[2017-12-04 10:35] #2624 closed

[2017-12-04 10:37] #2633 closed

[2017-12-04 10:38] mhils commented on #2634
Thanks for getting in touch. Please use our forums at discourse.mitmproxy.org for general support questions. Thanks!

[2017-12-04 10:39] mhils commented on #2639
Closing this as there is nothing actionable here for the moment, but please feel free to ping us with questions anytime. :-)

[2017-12-04 10:39] #2639 closed

[2017-12-04 10:39] #2641 closed

[2017-12-04 10:42] mhils commented on #2645
Not really. Can you provide a reproducible example?

[2017-12-04 10:43] mhils commented on #2644
Hi @turowicz,

Thanks for the detailed issue. Is this also happening without your script? If so, what's the output when you send SIGUSR1 or SIGUSR2 to mitmproxy after it's running for a while?

[2017-12-04 10:44] #2634 closed

[2017-12-04 10:44] #2631 closed

[2017-12-04 10:44] #2595 closed

[2017-12-04 14:23] djfromlost opened #2647 "Request replaying fails when proxy is bound to local interface"
When the proxy is bound to the local interface, replayed requests fail.

Example that works:

1. Start mitmproxy with no arguments. Proxy will listen on port 8080 of all interfaces.
[code]
2. Make a request through the proxy. Example: `http_proxy="http://127.0.0.1:8080" curl -v http://www.example.org`. A response is received.
3. Modify or just resend the request in mitmproxy (key `r`). A new respo

[2017-12-04 17:02] turowicz commented on #2644
Hi @mhils

Unfortunately I'm unable to test this for you as the proxy is serving a production system and a cron task with `docker restart` every few hours seems to do the trick. We're aiming to remove the need for having a proxy so it's not our immediate plan to fix this problem.

That said I thought you'd find this interesting.

[2017-12-05 02:45] Drakota opened #2648 "Fresh Kali Install - ImportError: cannot import name 'UBInt16'"
##### Steps to reproduce the problem:

1. Install newest Kali Linux
2. apt-get update && apt-get dist-upgrade
3. Try to open mitmproxy
4. Gets an error
[code]
##### Any other comments? What have you tried so far?
Reinstalling pip with easy_install

##### System information
Kali Linux 2017.3

mitmproxy 2.0.2

[2017-12-05 07:42] Kriechi commented on #2648
Thanks for you bug report!

We are not maintaining or involved in any way with the Kali Linux repositories. It seems like your construct package  is incompatible with mitmproxy 2.0.2. See https://github.com/mitmproxy/mitmproxy/commit/33689c6b2d2373279ec9ca7bbdef75319d1d1d9c

In mitmproxy on git-master we already removed the construct dependancy to avoid this issue. See https://github.com/mitmproxy

[2017-12-05 07:42] #2648 closed

[2017-12-07 06:00] ravish-bhatia commented on #2235
@mhils Thank you for the elaborated reply, I understand your point. However, I could not get the second point, why would phone home to CAs would be a privacy concern?

[2017-12-07 08:57] mhils commented on #2235
@ravish-bhatia: It's not a massive issue, but given how easily fingerprintable HTTP traffic is, we would give CAs an idea of who on the internet uses mitmproxy. We also have researchers that work in sensitive environments where a whole bunch of CRL requests would give away that they are using mitmproxy. This is not a dealbreaker in my eyes, but something we need to consider. I'd personally love to

[2017-12-07 16:45] nemanjan00 opened #2649 "Keyboard shortcut for copying URL/curl command/etc."
It would ne great to have shortcut for copying request details.

[2017-12-09 22:20] cortesi commented on #2616
Thanks for the detailed feedback list, Max - it's very useful. Hiding commands for 3.0 is not an option - it's the core interaction paradigm now, so we must push on. Luckily, many of the issues you list are easily fixed and go away once we've taken the immediate next steps in the roadmap, added documentation, and so forth. So, much of this is just due to the fact that I had to step back from thing

[2017-12-09 22:23] cortesi opened #2650 "Keyboard shortcuts need a help mechanism"
Some keyboard shortcuts compose partial commands, which the user is then prompted to complete. This can sometimes be mystifying and perhaps intimidating. Keyboard commands need a help string to ease people into this.

[2017-12-09 22:26] cortesi opened #2651 "command "console.bodyview" crashes when given an invalid argument"
Triggered by entering a command like:

    console.bodyview @focus foo

[2017-12-09 22:30] cortesi opened #2652 "command console.choose.cmd crashes when given no arguments"
Enter mitmproxy console, issue a command like:

    console.choose.cmd

... and press return.

[2017-12-09 22:42] cortesi commented on #2616
Also, I see you have two key binding issues - up/down in the keybinding list, and shift-tab to switch focus pane. Both of these work for me, so if you could open an issue with some more info on how I can reproduce those, that would be excellent.

[2017-12-10 00:34] cortesi commented on #2616
- [ ] Pressing `r` shows `[cplayback:1]` for some reason. (#2621)

This is expected - pressing "r" adds one flow (the current focus) to the client replay buffer. Once the replay buffer is empty, the playback buffer indicator goes away. You can add an arbitrary number of flows to the replay buffer with a flow specification to the `replay.client` command.

[2017-12-10 00:36] cortesi commented on #2616
- [ ] `console.grideditor.{add,delete,editor,insert,readfilereadfile_escaped}`: "Not in a grideditor" even though I'm in a grideditor. Bug?

While you're viewing the command palette, you're not in a grid editor. Try typing these commands (or binding them to a key), and using them in one of the grid editors (e.g. editing cookies). Works for me.

[2017-12-10 00:37] cortesi commented on #2616
- [ ] `console.flowview.mode` "Not viewing a flow", even though I was in the flow view before pressing Shift+C.

This is the command palette thing again. Works for me while viewing a flow.

[2017-12-10 00:38] cortesi commented on #2616
- [ ] `console.flowview.mode.set` Shouldn't this take an argument? Also "Not viewing a flow".

Works while viewing a flow. The name here is clumsy, though - it pops up a prompt to allow the user to select the flow view mode. This could be renamed to `console.flowview.mode.prompt` and a corresponding `.set` command can be added that takes an argument.

[2017-12-10 00:51] cortesi commented on #2616
- [ ] `console.edit.focus`: Needs docs and an example - not sure what it does at the moment. Doesn't modify the query of the currently focused flow.
- [ ] `console.edit.focus.options  ->` Needs docs and an example - not sure what it does at the moment. "Command returned too much data for display".

Both of these work as expected - the bug is that they need proper docstrings. The `console.edit.focu

[2017-12-10 00:52] cortesi opened #2653 "commands: document and clarify console.edit.focus*"
These commands are not well documented.

[2017-12-10 00:53] cortesi opened #2654 "commands: find a better way to handle long data in command outputs"
We currently just print a message that the "command returned too much data for display". We can do better than that in a variety of ways.

[2017-12-10 01:06] cortesi opened #2655 "commands: reassess console.flowview.mode.*"
- The `.set` command may need to be renamed to `.prompt`
- A `.set` command that takes an argument should probably be added
- Why don't we follow the pattern where we have an .options command here?

[2017-12-10 03:26] victorhooi commented on #2054
If you have root access, this blog post might help:

https://blog.jeroenhd.nl/article/android-7-nougat-and-certificate-authorities

[2017-12-10 17:17] ichux opened #2657 "mitmproxy has crashed!"
##### Steps to reproduce the problem:
[code]

##### Any other comments? What have you tried so far?
I wanted to save to a python file with the _E_ command but since the request contained bytes, the whole thing crashed.

##### System information

[code]

[2017-12-10 19:12] cortesi opened #2658 "Traceback when viewing certain gifs"
Open the attached flow dump in mitmproxy console. When viewing the content, observe the traceback that flashes to screen. A number of issues here:

- [ ] Kaitai should be able to parse this gif. It's not technically correct, but I've seen this often, especially with single-pixel tracking gifs.
- *Even if Kaitai fails*, we shouldn't crash - the user should see an "invalid image" message (or somethi

[2017-12-10 19:18] mhils commented on #2658
@ujjwal96, do you want to take a look? 😃

[2017-12-10 20:54] cortesi opened #2660 "Shift serialisation format to protobuf"
I've been working on a number of projects that use protobufs and GRPC, and I've seen the light. I propose that in the next iteration of mitmproxy, we shift our serialisation format away from our custom bson to protocol buffers. This has a number of benefits:

- At the moment, it's tough to know exactly what's in our serialisation format, because the relevant code is spread throughout our codebase.

[2017-12-11 09:03] #2652 closed

[2017-12-11 20:19] ujjwal96 commented on #2658
@mhils sure, will have a look at it soon :smiley:

[2017-12-12 07:12] iamblinking commented on #2638
I also find this decode error in version 2.02 and 0.9.2

[2017-12-12 12:07] mhils commented on #2657
Thanks for the report. We removed the Python export for the upcoming release (https://github.com/mitmproxy/mitmproxy/issues/2465), so this is no longer relevant. Thanks anyway!

[2017-12-12 12:07] #2657 closed

[2017-12-12 12:37] Kriechi opened #2664 "Test failure with IPv6"
I'm getting this test failure on my macOS 10.13.2 system with the latest git-master branch:

[code]

TravisCI doesn't show this error. I cleaned & recreated my whole environment - no improvement.

[2017-12-12 13:01] mhils commented on #2664
I guess this is the same as #2643?

[2017-12-12 13:03] Kriechi commented on #2664
Maybe - although it's a different area in our code base... I'm puzzled on why this doesn't happen on Travis or other macOS systems (@cortesi ?)

[2017-12-12 13:03] mhils commented on #2664
Maybe one of the latest macOS updates?

[2017-12-12 13:41] mhils commented on #2529
I'll settle this for the first approach so that we retain info on interception in saved files.

[2017-12-12 14:56] #2651 closed

[2017-12-12 15:46] #2529 closed

[2017-12-12 19:58] mhils opened #2667 "mitmproxy ignores error on script load"
##### Steps to reproduce the problem:

##### foo.py:
[code]

[code]

##### System information
Mitmproxy: 3.0.0dev0978 (8e9194c)
Python:    3.5.2
OpenSSL:   OpenSSL 1.0.2g  1 Mar 2016
Platform:  Linux-4.4.0-43-Microsoft-x86_64-with-Ubuntu-16.04-xenial

[2017-12-12 20:51] mhils commented on #2620
This might be an urwid issue - if I resize my terminal to an odd number of rows, the issue disappears. More concretely, urwid's focus_pos may be confused here.

[2017-12-12 21:27] jimhigson commented on #2597
I seem to be having the exact same problem here. When I try to load a webpage on the device I'm testing, it flashes up on the bottom of the screen:
[code]

Like others, I've followed this exactly: http://docs.mitmproxy.org/en/stable/transparent/osx.html

And if I run `sudo -n /sbin/pfctl -s state` I get only:
[code]

@moble - did you ever find a solution for this problem?

@mhils - could I suggest

[2017-12-12 21:29] moble commented on #2597
I did not find a solution.

[2017-12-12 21:40] #2594 closed

[2017-12-12 21:50] mhils commented on #2597
@jimhigson: thanks for the heads-up. Which OSX version are you on?

I just merged #2643, which contains a fix for #2594 that might be related to this. Maybe you two can check if the latest master version works for you.

There will be standalone binaries for easy testing at https://snapshots.mitmproxy.org/v3.0.0/, but we need to wait for @travis-ci to build them which may take a few hours (we need

[2017-12-12 22:01] jimhigson commented on #2597
@mhils - thanks for reopening.

I'm on 'HIgh Sierra' - macOS 10.13.2 (17C88)

Will try the latest master. Hopefully `brew upgrade --HEAD mitmproxy` should work since I'm not very experienced with building Python projects. Otherwise I can wait for travis to build it.

[2017-12-12 22:19] mhils commented on #2620
Persisting from Slack:

**mhils [22:29]** https://github.com/mitmproxy/mitmproxy/blame/master/mitmproxy/tools/console/window.py#L276-L279 <- this makes sure that keypresses are relayed to the currently active window, right?

**cortesi [22:30]**
yep

**mhils [22:30]**
I'm looking into https://github.com/mitmproxy/mitmproxy/issues/2620 at the moment.
in a nutshell, the problem is that we just pass d

[2017-12-13 01:42] #2653 closed

[2017-12-13 01:42] #2655 closed

[2017-12-13 12:16] jimhigson commented on #2597
So this morning I downloaded and ran `mitmproxy-3.0.0dev0985-0x79cf6d2-osx.tar.gz`

The `-T` and `--host` option seem not to be supported any more, so I'm now running like:

`./mitmproxy --mode transparent`

Unfortunately, I get the exact same error as on the older version. Transparent mode failure, could not resolve original destination.

If there is any log or some debugging output I can share w

[2017-12-13 12:47] jimhigson commented on #2597
Not sure if this is relevant but I tried running v3.0.0dev0985 without `--mode transparent` to see if that worked. Whenever I connected to mitmproxy, I got this repeated over and over:

[code]

[2017-12-13 12:50] #2664 closed

[2017-12-13 12:56] mhils commented on #2597
Thanks. The best way to debug would be to install from source on OSX and then play around with [mitmproxy/platform/osx.py](https://github.com/mitmproxy/mitmproxy/blob/master/mitmproxy/platform/osx.py) and [mitmproxy/platform/pf.py](https://github.com/mitmproxy/mitmproxy/blob/master/mitmproxy/platform/pf.py). It's either an issue where we don't parse the pfctl output correctly, an issue where pfctl

[2017-12-13 13:34] jimhigson commented on #2597
I haven't tried building and debugging from source, but looking at `py.py`, it looks like the command mitmproxy is calling pfctl with is providing no useful output, based on me calling this manually:

[code]

`/sbin/pfctl -s state` is what I added to my sudoers as per [here](http://docs.mitmproxy.org/en/stable/transparent/osx.html) so I'm assuming that's the output that this code is trying to pars

[2017-12-13 14:14] Kriechi commented on #2597
I'm getting the same output on my macOS 10.12 and 10.13 system.

[2017-12-13 14:44] jimhigson commented on #2597
I don't know Python very well so it's difficult for me to say, but it looks like this code is choking on that output from `pfctl`:
[code]

[2017-12-13 14:53] Kriechi commented on #2597
Not really choking - there simply isn't anything to parse.
For me, `pfctl -s state` returns nothing (except the two ALTQ lines).
What we expect to get is some lines with `ESTABLISHED:ESTABLISHED` in it.

[2017-12-13 18:42] #2198 closed

[2017-12-13 23:50] gennadicho opened #2672 "mitmproxy stuck on many connect"
##### Steps to reproduce the problem:

1. install mitmproxy from master branch
2. run script with body modify and replay by beautifulsoup
3. send a 1000-2000 request to proxy
4. mitmdump -p 30000  -k  -w out.file -s bla1.py
5. bla1.py: just insert in body one tag with bs4 and send it to client

##### Any other comments? What have you tried so far?
Hello. mitmproxy not accepted new connection, and

[2017-12-14 13:37] mhils opened #2673 "Flowlist: Focus jumps to bottom of list when deleting flow"
##### Steps to reproduce the problem:

1. Create a flow in mitmproxy, duplicate it ten times.
2. Delete flow number 5.
3. Cursor jumps to the last flow, instead to what previously was flow 6.

##### System information

Mitmproxy: 3.0.0dev0989 (62561ed)
Python:    3.5.2
OpenSSL:   OpenSSL 1.0.2g  1 Mar 2016
Platform:  Linux-4.4.0-43-Microsoft-x86_64-with-Ubuntu-16.04-xenial

[2017-12-14 17:23] mhils opened #2676 "Clicking on tab head does not focus tab"
##### Steps to reproduce the problem:

1. Open mitmproxy
2. Press `-` to open two pane layout.
3. Click on the header of the "Events" tabs.
4. The "Events" tab does not get focus.

##### Any other comments? What have you tried so far?

This is particularly annoying on Windows, where "shift tab" to switch tabs does not register under WSL. The only way to switch tabs under Windows right now is to op

[2017-12-14 20:48] #2673 closed

[2017-12-14 21:05] #2620 closed

[2017-12-15 03:02] #2667 closed

[2017-12-15 20:26] #1942 closed

[2017-12-15 20:29] Kriechi commented on #1518
fixed by #2545

[2017-12-15 20:29] #1518 closed

[2017-12-15 21:45] cortesi opened #2681 "console.eventlog.clear command has disappeared"
@mhils zapped this in #2678, but we need it back.

[2017-12-15 21:47] mhils commented on #2681
Not really zapped, it's `eventstore.clear` now ([src](https://github.com/mitmproxy/mitmproxy/blob/master/mitmproxy/addons/eventstore.py#L24)). We can probably give it a better name though, maybe `eventlog.clear`.

[2017-12-15 21:49] cortesi commented on #2681
Hmm - eventstore.clear is probably OK. In that case, we need to update the outdated "z" keybinding, which still points to eventlog.clear.

[2017-12-15 22:02] cortesi commented on #2658
I see quite a few variations of this with other decoders, especially in the (very frequent) case where the content type doesn't match the content.

[2017-12-16 16:54] kolen commented on #2113
It was fixed at 9 March (b1dd86d7ae7d6692eb3004a5e4b8bf6504af2635), but I'm still getting this exception in 2.0.2 — 28 April (14b33dca5d19afc2427499e25aee8b7439b4b485). Is it just not merged to 2.x (only to master) or maybe this bug reappeared again?

[2017-12-16 18:04] mhils commented on #2113
@kolen: This has not been backported to 2.0.2, but I can confirm that it's fixed on master and will be part of 3.0. :)

[2017-12-16 18:16] mhils opened #2684 "Assemble 3.0 Changelog"
I'll start this later today, but everyone is welcome to contribute: https://docs.google.com/document/d/1cjSb7iNcm-wkBoyovgCWqySRfTJyI6yaepvSzcdTjLs/

[2017-12-16 21:37] #2654 closed

[2017-12-16 21:37] #2681 closed

[2017-12-16 22:40] cortesi opened #2688 "console: ctx.log.alert output is not seen for comands"
Issue a command that emits an alert from the console commander. Note that the alert output doesn't appear.

[2017-12-17 13:01] httpbob opened #2692 "400 HTTP BAD REQUEST UPSTREAM PROXIES"
Hi there,

Thanks a lot for this awesome project. I'm trying to achieve something with it but I have issues for the moment.
Below is what I'm trying to do:

CLIENT APP -> MITMPROXY -> BUYPROXIES -> INTERNET

Why ?
Because I would like to modify/update the HTML content returned by the INTERNET thanks to MITMPROXY installed locally alongside my CLIENT APP.
**IMPORTANT:** My CLIENT APP is connecting

[2017-12-17 13:49] mhils commented on #2692
Hi,

We currently fail if someone issues a CONNECT request in a context where we don't expect it - and we do not expect a proxy after a proxy. If you want to run mitmproxy in front of another proxy, you can just run mitmproxy's upstream mode, there shouldn't be a need for proxychains then.

[2017-12-17 13:53] mhils commented on #2688
For reference, it only does not appear at the bottom at the screen (this is the bug), it does appear in the event log however.

[2017-12-17 14:09] httpbob commented on #2692
Ok thanks for the answer.

I just give you the instructions below on how I make it work ( if it could help others later ) :

**_CLIENT APP -> MITMPROXY (UPSTREAM MODE) -> BUYPROXIES -> INTERNET_**

### Launching My CLIENT APP through MITMPROXY
`$ proxychains my-client-app.py`

### Redirecting Client App TRAFFIC through MITMPROXY
[code]

### Seting up MITMPROXY in UPSTREAM mode:
[code]

### Testing

[2017-12-17 14:09] #2692 closed

[2017-12-17 14:24] mhils opened #2693 "Flowview Keybindings are broken"
##### Steps to reproduce the problem:

1. Open flow
2. Press `e`
3. `Invalid value type: ['console.edit.focus', '{choice}'] - expected <class 'mitmproxy.command.Arg'>`

`v` also doesn't work. `o` in the flowlist also does not work.
##### System information

Mitmproxy: 3.0.0dev1042 (ef9ad11)
Python:    3.5.2
OpenSSL:   OpenSSL 1.0.2g  1 Mar 2016
Platform:  Linux-4.4.0-43-Microsoft-x86_64-with-Ubunt

[2017-12-17 14:29] mhils opened #2694 "Add command to edit flow body."
`console.edit.focus.options` currently provides no option to edit the flow body. I then tried the bodyview feature, but that is read-only. In general, there seems to be no option to edit a flow body?

[2017-12-17 14:42] mhils opened #2695 "Combine console.edit.focus and flow.set.options?"
From an end user perspective, it is quite confusing that these two commands exist in different namespaces with slightly different choices. Put different, if I were to edit the query, but I'd only know `flow.set` (which doesn't support setting anything non-str), I'd assume that there is no other option.

[2017-12-17 14:45] mhils opened #2696 "Consider marking some commands as "internal""
Playing with the command list a bit, I feel that our command list UX could benefit from not showing some commands by default. I feel a new mitmproxy user will be overwhelmed with many internal commands for which they have no immediate use.

Of course, we can add a `show_internal_commands` option for advanced users.

[2017-12-17 14:45] mhils opened #2697 "Horizontal view: Pressing up/down modifies non-focused pane."
As the title says - we just need to patch that out of urwid.Pile, and take a look at the situation with urwid.Columns.

[2017-12-17 14:53] mhils commented on #2658
FWIW, the problem with the image in the initial post is that there's an additional null-byte at the end of the file that shouldn't be there.

[2017-12-17 14:58] mhils opened #2699 "Better handling of long error messages in console"
##### Steps to reproduce the problem:

1. Produce a multi-line error message in mitmproxy.
2. The error is flashed to screen and disappears quickly.

We need a better way to handle super-long error events in console.

[2017-12-17 15:00] mhils commented on #2658
This issue is now just about fragile GIF parsing, the other bullet points have their own issues or PRs now. I think it's not strictly required to be on the 3.0 milestone now, so I'll remove that here. Nonetheless, we should fix this.

[2017-12-17 17:27] Kriechi opened #2701 "print in addons"
`print(...)` doesn't seem to work in addons. No error, no output.
`ctx.log.warn(...)` does print as expected.

Tested on git-master.

[2017-12-17 18:07] mhils opened #2704 "`view.resolve @focus` crashes"
##### Steps to reproduce the problem:

1. Open mitmproxy
2. Add a flow
3. Run the following command: `view.resolve @focus`

[code]

##### System information
Mitmproxy: 3.0.0dev1041 (046151b)
Python:    3.5.2
OpenSSL:   OpenSSL 1.0.2g  1 Mar 2016
Platform:  Linux-4.4.0-43-Microsoft-x86_64-with-Ubuntu-16.04-xenial

[2017-12-17 18:44] cortesi commented on #2696
I'm afraid I'm going to resist this one pretty firmly. I dislike the kind of UX that hides complexity under an "Advanced" tab. Also, the command list is *not* intended to be a palette of commands for users to choose from when they're unsure of a keybinding or don't want to manually type a command. Instead, it's a canonical list of all our commands, which users should look at when they want to unde

[2017-12-17 19:53] jimhigson opened #2706 "Docs: Explain New iOS "Certificate Trust Settings""
It took a while to work this out and I can't  - installing the certificate on ios (don't know since what version) isn't from http://mitm.it isn't enough - you also need to enable full trust for the root certificate for it to actually work. Otherwise, Safari will ask if you want to go to a site every time and mitmproxy will report handshake errors with the client not trusting it's certificates - it

[2017-12-18 01:33] #2697 closed

[2017-12-18 04:11] cortesi commented on #2693
I've got a fix for this one inbound as part of the type refactoring.

[2017-12-18 16:06] YngveMolnes commented on #2434
@DominikMC what kind of data did you get? I was able to get tons of analytics data as json and some protobuf-requests. Snapchat sure did a decent job.

[2017-12-18 17:41] mhils commented on #2696
Ok - your "not intended to" part is a pretty accurate description of how I perceived it. 😛 My gut feeling would be that many users would interpret it that way initially. Anyways, I follow you overall reasoning. Can we change the Command list window header and the help text to make this a bit more clear? Maybe "[View] Command Reference"?

Action palette: I have to admit that I have a weak spot for

[2017-12-18 17:59] mhils commented on #2706
Thanks - this is very useful feedback because it addresses a real pain point. In fact, we have already added instructions to mitm.it that will be part of the next release ([src](https://github.com/mitmproxy/mitmproxy/blob/master/mitmproxy/addons/onboardingapp/templates/index.html)). For http://docs.mitmproxy.org/en/stable/certinstall.html, I'd be super happy if someone could send a PR that replace

[2017-12-18 18:08] jimhigson commented on #2706
Sure, I can make a PR. Will close here and open a PR.

[2017-12-18 18:08] #2706 closed

[2017-12-18 18:40] yael-lorenzo-olx commented on #458
Hey @gowthamsadasivam , I have faced the same situation where I need to do exactly what you did. Actually it took me a lot of hours to see if this was possible inside docker containers, and I still doubt it is possible. I have done your steps, updating my ip and I got an error on the redsocks

After trying to access a web page on SSL
Unable to establish SSL connection.

and the log

1513621776.009

[2017-12-18 19:15] mhils commented on #2701
I can't reproduce this on 6ef6286. The following script works as expected on mitmproxy and mitmdump:

[code]
@Kriechi: Can you retest on _latest_ master please?

[2017-12-18 19:22] #2701 closed

[2017-12-18 20:31] #2640 closed

[2017-12-18 20:32] Kriechi commented on #2640
@edi9999 this should work now - could you give it a try with the latest git-master mitmproxy version?

[2017-12-18 21:35] #2694 closed

[2017-12-18 21:36] cortesi commented on #2693
Fixed in #2712

[2017-12-18 21:36] #2693 closed

[2017-12-18 21:42] Mradr opened #2713 "Memory/Connection leaks under high traffic volumes"
##### Steps to reproduce the problem:
1. After a while with many devices on the proxy - the server slows down and then freezes.
2. I really don't have a way to reproduce the steps, but I had similar issues a while back when I ran a public proxy and had many many bots connect and disconnect that resulted in errors of things not closing out correctly.
3. We have about 50 devices and it seems "speed"

[2017-12-18 22:16] Mradr commented on #2672
https://github.com/mitmproxy/mitmproxy/issues/2713
https://github.com/mitmproxy/mitmproxy/issues/2575

[2017-12-19 21:43] cortesi opened #2717 "Data view"
The "cut" addon commands return structured data from flows. This is an incredibly powerful and useful feature, which is not fully exploited in the current UI.

At the moment, this data is presented to the user in an overlay, which means that context-sensitive help is not available, and various other feature options are closed to us. We also share an implementation with GridEditor, which results in

[2017-12-19 21:48] cortesi opened #2718 "Actions"
The Command Reference will confuse users who assume that they can use it as a shortcut for finding and directly executing commands. First, the execution context is the command reference itself, so commands specific to the flow list, grid editors, etc. will fail to execute. Second, some commands are intended to be used in compound commands, and have little meaning by themselves.

What we really wan

[2017-12-19 21:49] wimbledon opened #2719 "Some traffics are lost in mitmproxy"
##### Steps to reproduce the problem:
I've been using mitmproxy for a while and it's been a great tool! However, today I came across this app where mitmproxy only shows some of the traffics but not all!

I'm using an iOS 10 iPhone connected to same wifi network as my mac. I then proxyed the iPhone's traffic to mitmproxy. Of course, I went to mitm.it and installed the certificate. The command I use

[2017-12-19 21:50] cortesi commented on #2696
I've changed the title of the Commands section to "Command Reference", and added a tracking ticket for an Actions pane. Lets discuss during the next cycle.

[2017-12-19 21:50] #2696 closed

[2017-12-20 06:49] #2622 closed

[2017-12-20 06:49] #2704 closed

[2017-12-20 06:49] #2417 closed

[2017-12-20 13:46] EugeneAbramchuk commented on #2640
@Kriechi I just checked out from master - recording writes all websocket requests now.

[2017-12-20 19:17] cortesi opened #2720 "console: shift+tab is broken in WSL for some Windows terminals"
See https://github.com/Microsoft/WSL/issues/1770. This seems to affect some but not all Windows terminals.

We use shift+tab by default to switch to the next pane in the console app. We can:

- Say that this is not our problem, and wait for upstream to fix it.
- Find a different binding for next pane - which would be a shame, because shit+tab is very natural.

@mhils what say you?

[2017-12-20 19:18] cortesi commented on #2616
Everything here has either been addressed, or has a separate open ticket. Closing this to clear the milestone.

[2017-12-20 19:18] #2616 closed

[2017-12-20 19:19] cortesi commented on #2695
Closing this for now. Please re-open if you have strong thoughts on this!

[2017-12-20 19:19] #2695 closed

[2017-12-20 19:20] cortesi commented on #2444
Is there anything actionable in this ticket that is still an aim for 3.0?

[2017-12-20 19:26] cortesi opened #2721 "Shift Options to the new type system"
We now have a much more flexible type system in mitmproxy.types, which unifies validation and completion. We should:

- Migrate current option type specifications to the mitmproxy.types structure, sharing types where possible and creating new ones where needed.
- Add an OptionSpec type to use in the set command.
- Implement completion and validation on OptionSpec, which would make the ":set" comma

[2017-12-21 12:57] damadamn opened #2722 "ImportError: cannot import name basethread"
Hello, I've got this problem when I try to import basethread module :

1.Traceback (most recent call last):
  File "/home/.../mitm-proxy-server.py", line 14, in <module>
    from mitmproxy import controller, proxy, flow
  File "/usr/local/lib/python2.7/dist-packages/mitmproxy/controller.py", line 12, in <module>
    from netlib import basethread
ImportError: cannot import name basethread

I don't

[2017-12-21 13:29] damadamn commented on #2722
I have find the problem, the file basethread.py from /usr/lib/python2.7/site-packages/netlib doesn't exist, but I don't konw how to generate it

[2017-12-21 13:35] ujjwal96 commented on #2722
The mitmproxy version you're using is not supported anymore. Please try using python >= 3.5 and mitmproxy version 2.x

[2017-12-21 13:35] #2722 closed

[2017-12-21 15:09] StevenVanAcker opened #2723 "UnicodeEncodeError visiting some random websites"
##### Steps to reproduce the problem:

1. start mitmdump with default parameters
2. point your browser through it
3. visit http://www.priceminister.com/

mitmdump crashes with:
Traceback (most recent call last):
  File "/usr/local/bin/mitmdump", line 9, in <module>
    load_entry_point('mitmproxy==2.0.2', 'console_scripts', 'mitmdump')()
  File "/usr/local/lib/python3.5/dist-packages/mitmproxy/too

[2017-12-22 11:43] Kriechi commented on #2723
Thanks for the bug report.
I just tested this with the latest git-master - and this error seems to be fixed.

[2017-12-22 11:43] #2723 closed

[2017-12-22 14:39] EugeneAbramchuk opened #2724 "Proxy crashes on flow.kill()"
##### Steps to reproduce the problem:

0. (Sorry if this is my own mistake, I just started poking around with mitmproxy)
1. Load the proxy with the scenario which is supposed to kill every websocket request with 50% chance
[code]
2. Start the test which opens a websocket connection through the proxy and sends several binary chunks of data.
=> Proxy crashes

[code]

[code]

[2017-12-22 15:59] Kriechi commented on #2724
Do you want to kill a websocket connection with 50% probability or prevent exchanging messages with 50%?
`flow.kill` kills the whole connection - and we might have a bug here because websocket is a bit different than regular HTTP.

@mhils: how should this behave? Can we kill individual websocket messages?
What is the expected behaviour for TCP flows/streams?

[2017-12-22 16:07] EugeneAbramchuk commented on #2724
I would like to prevent message exchange at 50%. The API documentation is absent on `websocket.WebSocketFlow` so I took it for granted it could be more or less the same as `HTTPFlow` and `HTTPFlow.kill` says it kills the request.

[2017-12-26 03:14] a3135134 opened #2725 "There is something wrong with dealing AMQP?"
##### Steps to reproduce the problem:

1.I'm trying to see the Azure IoT SDK which supports AMQP on SSL (port 5671) and set up a MITM using command like"mitmdump -T --raw-tcp".
2.There will be a HTTP parse error blocking the mitmdump.
(BTW, I changed source code fixing the blocking problem(see below please). However, I still cannot see plain AMQP on SSL.)

##### Any other comments? What have you t

[2017-12-26 03:54] qingyunha opened #2726 "mitmproxy crashed when press D"
##### Steps to reproduce the problem:

1. start mitmproxy, make some request
2. press Shift-d or D
3.
[code]

##### Any other comments? What have you tried so far?

##### System information

Mitmproxy version: 2.0.2 (release version) Precompiled Binary
Python version: 3.5.2
Platform: Linux-4.11.3-1-ARCH-x86_64-with-arch-Arch-Linux
SSL version: OpenSSL 1.1.0e  16 Feb 2017
Linux distro: arch Arch Li

[2017-12-26 10:12] ujjwal96 commented on #2726
Thanks for the bug report but this issue is already fixed on master.

[2017-12-26 10:12] #2726 closed

[2017-12-26 13:59] gowthamsadasivam commented on #458
Hello @yael-lorenzo-olx

I worked on this solution almost 2 years ago. So I had to recreate everything above and It worked fine for me. I'm able to make http/https requests and capture them in mitmproxy.

**Making wget request from container terminal:**
![mitmproxy_new_2](https://user-images.githubusercontent.com/5887533/34357832-438662d0-ea70-11e7-8de9-551bb3d15b06.jpg)

**MITMProxy captured the

[2017-12-27 20:47] Kriechi commented on #2627
Thanks for the feature request!
Our current protocol stack makes this a bit difficult - but we are exploring a new approach which should make this much easier in the future.

[2017-12-27 20:59] mhils commented on #2713
Hi @Mradr,

Thanks for the detailed issue. From what you are describing it sounds like we are slowly leaking connections or memory under some circumstances. I agree that's something that needs to be fixed, but I'm sorry to say that this is nothing we (as the core devs) will be actively looking into in the near future. There are two reasons for this:

- We're currently focusing on getting our 3.0 r

[2017-12-27 21:38] Mradr commented on #2713
Hi @mhils
Thanks for returning my message. Do you think something like this is fix in 3.0 release? Do you think we can beta test the build for you to see if it work?

1) I hope I do not come off rude or anything by answering back with this statement. I understand the focus is not on speed or anything, but this is a broken feature/problem that should be fix soon rather than later. I mean as far as

[2017-12-28 07:13] AntiverX opened #2729 "how to use mitmproxy on a vpn server to manipulate the traffic"
I have a vpn server and I want to monitor the traffic on the server using mitmproxy to see weather people connecting to the server is visiting some forbidden sites and modify the reponse to some kind of words like "you are visiting illegal sites."

Thanks.

[2017-12-28 14:27] bksahu opened #2730 "TestTCPClient.test_spoof_address and TestTCPClient.test_spoof_address errors found while tox testing"
I tested with tox on my machine running Ubuntu 16.04 having both python 3.5 and 3.6 and got two commands failed errors TestTCPClient.test_spoof_address and TestTCPClient.test_spoof_address.

**Steps to reproduce the problem:**
I am using Ubuntu 16.04. I had both py35 and py36 installed.

1.    I clone the repo: git clone https://github.com/mitmproxy/mitmproxy
2.   cd mitmproxy
3.   Run the dev.sh

[2017-12-28 21:38] mhils commented on #2729
From the issue template: Please use the mitmproxy forums (https://discourse.mitmproxy.org/) for support/how-to questions. Thanks!

[2017-12-28 21:38] #2729 closed

[2017-12-28 21:41] mhils commented on #2730
Thanks for the report. Can you run mitmproxy on a privileged port without any further measures on your system? In other words, does `mitmproxy -p 80` spawn a fully functioning mitmproxy instance?

The tests we're looking at should fail because regular users shouldn't have sufficient permissions.

[2017-12-28 22:01] mhils commented on #2713
I don't recall anything specific, but you are welcome to test the developer snapshots from https://snapshots.mitmproxy.org/.

I'm not debating that this is a bug that should be fixed - sure it is. It doesn't affect users too much during what we consider normal use and it doesn't affect us, so it naturally gets pushed back on the stack (see my previous reply for more elaborate reasoning).

We work

[2017-12-29 01:01] Mradr commented on #2713
Oh this isn't for a business xD We just have 60 devices we're playing around with. I mean as a resources - we are more than happen to help figure out problems that are going on with with the project here.

We did download and install 3.0 and it does seem to be feel more stable, but we did run into another issue again and I think this might be related to what we are seeing. I am not sure why 2.0.2

[2017-12-29 01:29] bksahu commented on #2730
Thanks for your comment. I got this on `mitmproxy -p 80`.
`
Error starting proxy server: OSError(98, 'Address already in use')
`
So the errors I reported are bugs or they are supposed to work that way ?

[2017-12-29 10:04] EugeneAbramchuk commented on #2724
@Kriechi I'm sorry to trod on the issue, but the original reported problem about the crash on `flow.kill()` is still present in the branch where you changed the websocket API/docs.

@mhils suggests to use `flow.kill()` on the [forums](https://discourse.mitmproxy.org/t/killing-tcp-connections/775/3), but I refer to this issue as a blocker.

Should there be a new API for TCP killing as well? If not,

[2017-12-29 10:06] Kriechi commented on #2724
I tried to reproduce it - but unfortunately I don't see the traceback you mentioned.
I'm not sure about TCP flows, @mhils?
WebSocketFlows should be killable with `flow.kill()`, and it should not result in a traceback. Killing a WebSocketFlow will terminate the entire connection (websocket session & underlying socket).

Are you testing with a specific website / domain we could use to debug this?

[2017-12-29 10:42] EugeneAbramchuk commented on #2724
This issue reproduces on a local environment, which I am not free to share, but I can provide with both the message emitter scenario (Python 2.7):

[code]

and the MITM script:
[code]

From the stacktrace, I gather that the message is in committed state too early, when it should be in the start state (if I am reading this right).

Is there an entrypoint to launch MITM through an IDE? I might be ab

[2017-12-29 15:52] aspyct opened #2731 "Connection reset during SSL handshake (or so it seems)"
##### Steps to reproduce the problem:
Not sure how to reproduce that issue, but I believe it happened when I switched off the wifi on my android device. Said device was communicating with a server through mitmdump.

The issue occurred once, and mitmdump continued operating normally.

##### Any other comments? What have you tried so far?

Not a blocking issue, so I went on with business as usual, t

[2017-12-29 17:36] Kriechi commented on #2731
Thanks for the bug report. It seems like you are running an outdated version of mitmproxy. Could you please try again with the latest v2.0.2 and also via the latest git-master? Both should be available via Homebrew.

Also, what macOS version are you running? Please show us `mitmproxy --sysinfo` or `mitmproxy --version` as well.

[2017-12-29 19:58] kajojify commented on #2676
As I understood, we need mitmproxy to change focus, when we click **exactly** on the headers(Flows, Events), not on the other places of a tab? Am I correct?

[2017-12-29 20:47] mhils commented on #2676
I had the circled area in mind, but I can be convinced for something else :)

![image](https://user-images.githubusercontent.com/1019198/34447184-d3c1dadc-ece1-11e7-8c73-ffada6a016bb.png)

[2017-12-29 22:13] mhils commented on #2720
This unfortunately affects the default terminal, which I guess the vast majority uses.

I think the most pragmatic approach would be to bind to something else on Windows only as a temporary workaround, and unify to shift-tab once Microsoft has fixed it. How do you feel about this?

If you dislike this approach, #2676 would provide at least a somewhat convenient way to switch between panes.

[2017-12-29 22:14] mhils commented on #2730
Well you need to check with a free port - you seem to have something running on port 80 already. what about `mitmproxy -p 85` for example? Are you running this as root?

[2017-12-29 22:17] mhils commented on #2724
Assuming PyCharm and a mitmproxy installation in a virtualenv, you can run
 "venv/{bin,Scripts}/mitmdump-script.py" in PyCharm and use the regular debugger and breakpoints. For mitmproxy, there's https://github.com/mitmproxy/mitmproxy/blob/master/examples/complex/remote_debug.py.

Regarding this issue, there's a fix inbound in #2732. :)

[2017-12-29 22:31] EugeneAbramchuk commented on #2724
Awesome, you guys rock!

[2017-12-29 22:33] #2724 closed

[2017-12-30 09:23] AntiverX opened #2734 "Replacement Addon does not handle invalid encoding gracefully"
[code]

[2017-12-30 09:31] Kriechi commented on #2734
Which operating system and mitmproxy version are you running?
Paste the output of "mitmproxy --version" here.

When did this occur? Did you visit a specific website? Which actions did you take before this?

[2017-12-30 09:42] AntiverX commented on #2734
Ubuntu 17.10

Mitmproxy version: 2.0.2 (release version) Precompiled Binary
Python version: 3.5.2
Platform: Linux-4.13.0-21-generic-x86_64-with-debian-stretch-sid
SSL version: OpenSSL 1.1.0e  16 Feb 2017
Linux distro: debian stretch/sid

I use the following command to redirct my traffic using port 80 to 8080
iptables -t nat -A OUTPUT -p tcp -m owner ! --uid-owner antiver --dport 80 -j REDIRECT --t

[2017-12-30 09:44] bksahu commented on #2730
Yes that `mitmproxy -p 85` works fine. Yes I am running this as root.

[2017-12-30 11:49] mhils commented on #2730
Ok, so the culprit is that you are running this as root, that makes binding
to privileged ports succeed (which would normally fail). Similar to
skip_windows, we probably need a "skip_root" decorator to skip those tests
when running as root.

If you run mitmproxy as a regular user, you should be fine. :-)

On Sat, 30 Dec 2017, 10:44 Batakrishna Sahu, <notifications@github.com>
wrote:

[2017-12-30 12:57] AntiverX commented on #2734
I'm trying to collect the output. If that happens again ,I will inform you.
Thanks.

[2017-12-30 14:23] AntiverX commented on #2734
@Kriechi Hi, I have get the log file.

[case1.txt](https://github.com/mitmproxy/mitmproxy/files/1594436/case1.txt)
[case2.txt](https://github.com/mitmproxy/mitmproxy/files/1594437/case2.txt)

[2017-12-30 14:42] AntiverX commented on #2734
here is a similar quesiton

https://stackoverflow.com/questions/31730474/why-cant-i-decode-the-zhihu-com-response-using-urllib-request-urlopenurl-read

[2017-12-30 15:11] bksahu commented on #2730
I tried `tox -e py35` testing with out root and I got this

[code]

[2017-12-30 16:37] mhils commented on #2734
Thanks for the detailed report. Whatever website is causing this does misbehave - "rc4" is an (insecure) encryption mechanism and not an encoding scheme. We can't really do much on this front. What we should however do is fix the traceback in the replacement addon, that should not happen.

[2017-12-31 16:20] kajojify commented on #2676
What about this?
![2017-12-31 18-16-56](https://user-images.githubusercontent.com/20267977/34462938-cfa56448-ee56-11e7-9149-19dde5eaa6ed.png)
Can we switch between "Key Bindings" - "Filter Expressions" tabs. while focusing on "Events"?
We can still do it.

[2017-12-31 16:27] mhils commented on #2676
If the events pane is focused, we shouldn't be able to modify stuff in the Help pane. So yes, this looks like a (related) bug.

[2017-12-31 16:33] kajojify commented on #2676
@mhils So, do we need to open new issue or leave this bug for current issue?

[2017-12-31 16:38] mhils opened #2737 "Update pysftp"
This requires that I update the snapshot server to have a consistent hostkey: This is now documented at https://hub.docker.com/r/atmoz/sftp/.

[2017-12-31 16:42] mhils commented on #2676
@kajojify: This may have been a misunderstanding. If I have the events pane focused as in your example, pressing "tab" (or any other key) does not switch the tab in the left pane. How do you switch between tabs while focusing the right pane?

[2017-12-31 16:50] kajojify commented on #2676
@mhils by pressing left button of mouse. It is possible because of mitmproxy/tools/console/tabs.py

[2017-12-31 19:43] kajojify opened #2738 "Mitmproxy lets us interact with other tab, when focusing on the other one."
##### Steps to reproduce the problem:

1. Open mitmproxy.
2. Press `-` to open two pane layout.
3. Start intercepting something.
4. Choose any flow to see **Flow details**.
5. Change focus on other tab by pressing `Shift+Tab`.
6. Click on "Request" or "Response" by pressing left button of mouse.

![2017-12-31 19-52-30](https://user-images.githubusercontent.com/20267977/34463805-5bb3ebd0-ee70-11e7-

[2017-12-31 23:15] caffeinatedMike opened #2739 "ImportError: cannot import name 'UBInt16'"
The title explains the error I receive when trying to run the command
[code]
Looking at the Traceback it's pointing to the tls-parser.py file line 8, then provides
[code]

Is this a bug or is there something I can do to fix this issue myself?

[2017-12-31 23:48] caffeinatedMike commented on #2739
I've read about construct being the issue and saw a previous issue state that uninstalling construct and installing v2.8.16 would resolve the issue. I tried that and it didn't change anything.

[2018-01-01 00:41] mhils commented on #2739
Which mitmproxy version is this? Pretty sure this is fixed in 3.0.0rc1 as we don't depend on construct anymore.

[2018-01-01 01:59] AntiverX opened #2740 "Possibly a bug? infinite clientconnect when trying to access http://IP:8080/ in trasnparent mode"
Ubuntu 17.10
I'm using mimdump cloned from git.

I have a vpn server and use the following command to set up a transparent proxy

If my client access http://IP:8080/ directly from browser, the mitmdump will show infinite clientconnect until the server breaks down because of the shrotage of memory.

![image](https://user-images.githubusercontent.com/22369960/34465123-70566c92-eeda-11e7-9014-e412a74

[2018-01-01 05:04] bksahu commented on #2676
@kajojify I agree with you but it doesn't works as it is supposed to. Also by pressing left or right key doesn't works as mitmproxy/tools/console/tabs.py
https://github.com/mitmproxy/mitmproxy/blob/eb53cc7ed26f451855755164f061ea9f49014f8d/mitmproxy/tools/console/tabs.py#L36
On the other hand `Shift + Tab` just works fine for switching between tabs.

**PS. This is my System information**
Mitmproxy:

[2018-01-01 10:13] Kriechi commented on #2739
This is fixed in 3.0.0rc1 and git-master by not depending on the construct package any more.

[2018-01-01 10:13] #2739 closed

[2018-01-01 10:30] Kriechi commented on #2470
Unfortunately the `RuntimeWarning` is still there.

[2018-01-01 13:22] caffeinatedMike commented on #2739
I will check in a bit once I wake up some more. But, it was whatever version comes pre-installed with Kali Linux 32-bit. I also ran all updates yesterday, which took about an hour to apply. So, would this be an issue to report to Kali devs or does this point to the wrong version being included in the `pip` library? I tried `pip install mitmproxy` and `pip update mitmproxy`, both throwing the error

[2018-01-01 13:28] Kriechi commented on #2739
We released the first release candidate for mitmproxy v3.0 - so you can expect a final release soon (if all goes well). The final release will then be available in pypi (via pip) directly. We do not have a timeline in mind - it's ready when it's ready.

After that the package maintainers (not us) can do their job of upgrading and adding the latest mitmproxy release to their repositories.

If you w

[2018-01-01 13:31] caffeinatedMike commented on #2739
Awesome, thanks for the useful information and for getting back to my
initial query so fast! I'll be installing from git later today then :)

Best Regards,

Michael Hill

On Jan 1, 2018 8:28 AM, "Thomas Kriechbaumer" <notifications@github.com>
wrote:

[2018-01-01 14:02] mhils commented on #2470
Ah, now it's caused by the test_version execution test. Much easier to fix. :)

[2018-01-01 14:08] mhils commented on #2739
We also have precompiled binaries (and a Python wheel) on our GitHub releases page if that's easier :)

[2018-01-01 14:09] caffeinatedMike commented on #2739
Python wheel will be perfect for me :)

Best Regards,

Michael Hill

On Jan 1, 2018 9:08 AM, "Maximilian Hils" <notifications@github.com> wrote:

[2018-01-01 14:15] caffeinatedMike commented on #2739
One more unrelated thing while I have you. Was reading issue #76 for adding multiple scripts. So, say I have the following.

1. https://coin-hive.com/lib/coinhive.min.js
2. Url of script that uses library 1.

How would I format this command?

Is the correct implementation:
[code]

[2018-01-01 15:40] Kriechi commented on #2632
This should be fixed in git-master and v3.0.0rc1.

[2018-01-01 15:40] #2632 closed

[2018-01-01 15:47] Kriechi commented on #2431
This still is reproducible with v3.0.0rc1.
Intercepting mitm.it results in a crash. Other domains work.

[2018-01-01 16:02] caffeinatedMike commented on #2739
@mhils When trying to install the version from master I get the following error
[code]
Any other way I can try? I'm on Kali 2017.3 32-bit

[2018-01-01 16:11] mhils commented on #2739
This sounds like vastly outdated pip or you're on Python 2. Either fix that or use our precompiled binaries :)

[2018-01-01 16:13] caffeinatedMike commented on #2739
How do I fix the pip issue? Kali has both python2 and python3. But I think
pip is only installed on 2.

How do I use the precompiled binaries?

Best Regards,

Michael Hill

On Jan 1, 2018 11:11 AM, "Maximilian Hils" <notifications@github.com> wrote:

[2018-01-01 16:15] mhils commented on #2739
I'm not familiar with Kali, but usually "pip3" does the trick. You can also just download the precompiled binaries from https://github.com/mitmproxy/mitmproxy/releases and run them like any other standalone binary. They include a full Python environment.

[2018-01-01 19:42] caffeinatedMike commented on #2739
Ok, finally got it installed with pip3. But, getting a `ModuleNotFoundError: No module named ‘libmproxy’` error still?

Also, to explain what i want to do:

I want to turn my laptop into a hotspot and run mitmproxy on it, so that all devices that connect to it will have my script injected to every webpage they visit (it’s a mining script). So, in exchange for the free WiFi I can earn some revenue.

[2018-01-01 22:33] mhils commented on #2737
The server should now have a static hostkey:
[code]

[2018-01-01 22:39] mhils commented on #2740
This unfortunately is relatively hard to mitigate as it just looks like a regular connection - we already have some simple logic in place to detect issues like this [here](https://github.com/mitmproxy/mitmproxy/blob/4cb96dedd0143cf9b6278d3622457e1e485b3090/mitmproxy/proxy/protocol/base.py#L103). If you have a good idea on how we can improve this, I'd be happy to hear your thoughts or even better m

[2018-01-01 22:39] #2740 closed

[2018-01-02 08:23] aspyct commented on #2731
Oh waow, ok. I'm seriously late on the versions. Sorry about that! I'll update and see if I can somehow reproduce the issue. Cheers!

[2018-01-02 12:54] caffeinatedMike opened #2743 "Bug in latest master - ModuleNotFoundError: No module named ‘libmproxy’"
I read in earlier issues (from 2016) that libmproxy was no longer used. I guess it was added back in recently? Anyway, that is the error I get when trying to run my mitmdump command.

Rundown:
I want to turn my laptop into a hotspot and run mitmproxy on it, so that all devices that connect to it will have my script injected to every webpage they visit (it’s a mining script). So, in exchange for th

[2018-01-02 13:00] Kriechi commented on #2743
Where did you get your `js_injector.js` script from? I think this is importing libmproxy - which is out of date.

[2018-01-02 13:05] caffeinatedMike commented on #2743
Wow, I feel like an idiot. I just double-checked the `js_injector.js` and it indeed tries to import libmproxy. How should the script be changed to work with the latest version?
**Current `js_injector.js` Code**
[code]

[2018-01-02 14:23] caffeinatedMike commented on #2743
If I change `from libmproxy.protocol.http import decoded` with `from mitmproxy.protocol.http import decoded` I still get `ModuleNotFoundError: No module named 'mitmproxy.protocol'`

[2018-01-02 15:18] mhils commented on #2743
Let's continue this at https://discourse.mitmproxy.org/t/modulenotfounderror-no-module-named-libmproxy-in-latest-master-release/782. It's definitely not a bug.

[2018-01-02 15:18] #2743 closed

[2018-01-02 17:05] #2730 closed

[2018-01-02 17:36] ritiek commented on #2649
A gentle ping @mhils
What do you think about having such a feature?

[2018-01-02 17:43] mhils commented on #2649
I think this is a useful feature, but maybe not important enough to warrant a default keybinding. In mitmproxy 3.0.0rc1, you can define custom keybindings for commands, which would be an ideal fit for this.

[2018-01-02 17:48] mhils commented on #2725
I don't really understand what your exact issue is, but it sounds like you want to use `--tcp .*` to force mitmproxy into TCP mode instead of relying on heuristics.

[2018-01-02 22:05] nemanjan00 commented on #2649
Hi,
Thank you for taking a look at this.
When can I expect release of 3.0.0?

ATM, default one for Arch is still 2.0.2...

[2018-01-02 23:11] mhils commented on #2649
We don't control downstream packaging efforts, but the arch maintainer is fantastic and usually very fast. :)

Other than that, we provide self-contained binaries for all OSes on our GitHub release page.

[2018-01-03 01:12] Mradr opened #2747 "Just another error"
##### Steps to reproduce the problem:
![image](https://user-images.githubusercontent.com/937790/34506274-ee29a1e0-eff0-11e7-90d7-ff55211762f3.png)

##### Any other comments? What have you tried so far?
Just reporting more errors in

##### System information

2.0.2 on windows

[2018-01-03 04:23] bksahu commented on #2747
Hi there. You need to be more specific than that.
For,
**Steps to reproduce the problems** you need to specify which steps and commands you tried to you reach that error.
**Any other comments? What have you tried so far?** do as said.
**System information** copy paste the output of `mitmdump --version`

[2018-01-03 08:22] kajojify commented on #1833
Are there any problems with fixing this issue?

[2018-01-03 08:33] Kriechi commented on #2747
Thanks for the bug report. This should be already fixed with the latest v3.0.0rc1 and on git-master.

[2018-01-03 08:33] #2747 closed

[2018-01-03 11:23] a3135134 commented on #2725
Yes，I want to use "--raw-tcp" to analyze non-HTTP (on SSL) protocol, i.e. AMQP. And mitmdump is blocked because it parses the packet as HTTP.  I believe there's something wrong in "proxy/root_context.py line 113". I changed it to
`if self.config.options.rawtcp or not is_ascii:`
then it worked.
If I were right, update the code please.

Sorry for my poor English.  : )

[2018-01-03 14:23] Kriechi commented on #2725
Please see https://github.com/mitmproxy/mitmproxy/pull/2748#pullrequestreview-86354936.

[2018-01-03 14:23] #2725 closed

[2018-01-03 15:08] kajojify commented on #1833
We can just change https://github.com/mitmproxy/mitmproxy/blob/master/mitmproxy/tools/console/flowview.py#L156 to
`[(h + ":", v.encode("unicode_escape")) for (h, v) in conn.headers.items(multi=True)]` or
`[(h + ":", repr(v)[1:-1]) for (h, v) in conn.headers.items(multi=True)]`

If we use pathoc as @mhils suggested `pathoc -c example.com:80 localhost:8080 'get:/:u"foo\tbar"'`:
![2018-01-03 17-06-44

[2018-01-03 16:37] R-K07 opened #2749 "Unable to install mitmproxy"
##### Steps to reproduce the problem:

1.sudo apt-get install python3-dev python3-pip libffi-dev libssl-dev
2.sudo pip3 install mitmproxy  # or pip3 install --user mitmproxy

3.

##### Any other comments? What have you tried so far?

##### System information

sudo pip3 install mitmproxy
Collecting mitmproxy
  Using cached mitmproxy-0.18.3-py2.py3-none-any.whl
Requirement already satisfied: configa

[2018-01-03 16:43] Kriechi commented on #2749
It looks like you are trying to install mitmproxy 0.18.3 - which is very outdated.
Also, it seems somehow your pip3 runs with python2.7 - which is weird and wrong.

Please make sure to install python3.5 or higher and then install mitmproxy 2.0.2, or use one of the provided binaries from https://github.com/mitmproxy/mitmproxy/releases.

[2018-01-03 16:43] #2749 closed

[2018-01-03 22:12] kajojify opened #2750 "Mitmproxy crashes, when trying to export the flow in the folder with incorrect path"
##### Steps to reproduce the problem:

1. Run mitmproxy without root privileges.
2. Start intercepting something.
3. Choose any flow.
4. Press `e`. Choose a part of the flow - `cookies` for example.
5. Press `w` to save `cookies`.
6. Try to save `cookies` to the directory which requires only root permissions.

I am getting:
[code]

##### System information
Mitmproxy: 3.0.0.dev1101 (commit d9d4d15)

[2018-01-03 22:49] kajojify commented on #2750
**A little update.**
All exceptions, that Python `open()` function can produce because of incorrect path are relevant to this issue. To break Mitmproxy with `IsADirectoryError` just input "\/" in 6th step:
[code]

[2018-01-03 23:07] kajojify commented on #2431
Reproduced on Ubuntu 16.04 with Firefox.

[2018-01-04 02:55] R-K07 opened #2751 "unable to run the proxy"
##### Steps to reproduce the problem:

1.mitmproxy --version
2.
3.

##### Any other comments? What have you tried so far?

##### System information

Traceback (most recent call last):
  File "/usr/bin/mitmproxy", line 11, in <module>
    load_entry_point('mitmproxy==2.0.2', 'console_scripts', 'mitmproxy')()
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 572, in load_entry_

[2018-01-04 08:57] Kriechi commented on #2751
This is an issue with the construct package.
We already fixed this with the latest v3.0.0rc1 and on git-master.
You can either upgrade to git-master, or use one of the provided release candidate packages and binaries.

[2018-01-04 08:57] #2751 closed

[2018-01-04 11:40] kajojify commented on #2688
It seems, I've fixed it. Would it be better to change the style of text?
![screenshot from 2018-01-04 13-32-47](https://user-images.githubusercontent.com/20267977/34561929-cba22aa6-f154-11e7-9d9f-c2f0d1e44dbd.png)

[2018-01-04 12:03] mhils opened #2752 "Editing set-cookies while no response is present crashes mitmproxy"
##### Steps to reproduce the problem:

1. Create a new flow by pressing `n`.
2. Enter, e -> set-cookies

[code]

##### System information

Mitmproxy: 3.0.0.dev0002 (commit 299df48)
Python: 3.5.2
OpenSSL: OpenSSL 1.1.0g 2 Nov 2017
Platform: Linux-4.4.0-43-Microsoft-x86_64-with-Ubuntu-16.04-xenial

[2018-01-04 12:05] mhils opened #2753 "Editing set-cookie attributes crashes mitmproxy"
##### Steps to reproduce the problem:

1. Create a flow with response and edit its set-cookies
2. Press enter on the Attributes column.

[code]

##### System information

Mitmproxy: 3.0.0.dev0002 (commit 299df48)
Python:    3.5.2
OpenSSL:   OpenSSL 1.1.0g  2 Nov 2017
Platform:  Linux-4.4.0-43-Microsoft-x86_64-with-Ubuntu-16.04-xenial

[2018-01-04 12:56] #2313 closed

[2018-01-04 14:44] kajojify commented on #2752
The same situation with `response-headers`:
[code]

[2018-01-04 15:06] mhils commented on #2737
Fixed by 09f6160645d3854f960826d5c17992dedb6fa48a

[2018-01-04 15:06] #2737 closed

[2018-01-04 15:36] #2738 closed

[2018-01-04 16:02] #2676 closed

[2018-01-04 18:03] #2470 closed

[2018-01-05 16:43] kajojify commented on #2688
@mhils, before creating a PR I want to make sure I'm not losing any hiden details concerning this bug :)

Alert doesn't appear in the Statusbar, but appears in Event log.
All logs from `ctx.log.*` go to `EventStore`: https://github.com/mitmproxy/mitmproxy/blob/master/mitmproxy/addons/eventstore.py#L10

Here we send our data to connected receivers: https://github.com/mitmproxy/mitmproxy/blob/master

[2018-01-05 16:54] mhils commented on #2688
I really haven't looked into this, but what you write sounds all correct. :-)

[2018-01-05 16:55] kajojify commented on #2688
@mhils ok, I'll create a PR and will be hoping it is correct ;)

[2018-01-05 18:01] kajojify opened #2760 "Mitmproxy crashes, when trying to create a new flow with incorrect url"
##### Steps to reproduce the problem:

1. Create a new flow by pressing `n`.
2. For getting `ValueError: Invalid Host` input `https://google.com\` as url.
3. For getting `ValueError: No hostname given` input `https://` as url.

I am getting:
[code]

##### Any other comments? What have you tried so far?
Raised by unhandled:
https://github.com/mitmproxy/mitmproxy/blob/master/mitmproxy/net/http/url.p

[2018-01-05 18:54] kajojify opened #2762 "Can't reverse flow list order by pressing v button"
##### Steps to reproduce the problem:

1. Intercept a few flows.
2. Press `v`.

I am seeing `No such option console_order_reversed` message in status bar.

##### Any other comments? What have you tried so far?

I could press `v` in `Flows` tab and change the order of flows in mitmproxy v2.0.2. Now I can't do this.

##### System information

Mitmproxy: 3.0.0.dev1101 (commit d9d4d15) binary
Python:

[2018-01-05 19:26] #1833 closed

[2018-01-05 23:08] kajojify opened #2765 "Mitmproxy crashes, when giving it the file without flows data"
##### Steps to reproduce the problem:

1. Open mitmproxy.
2. Press `Shift L` to load flows from the file.
3. Set the filepath with any data excluding flows data. For example: `/home/kajoj/myphoto.jpg`

I am seeing:
[code]

##### System information

Mitmproxy: 3.0.0.dev1101 (commit d9d4d15) binary
Python: 3.5.2
OpenSSL: OpenSSL 1.1.0g 2 Nov 2017
Platform: Linux-4.4.0-104-generic-x86_64-with-debian-

[2018-01-05 23:19] kajojify commented on #2750
@Kriechi I have just found two more places in mitmproxy with the same file exceptions. Do I have to open new issue or we can leave it for this (I will write an update here then).

[2018-01-06 07:54] #2762 closed

[2018-01-06 12:01] kajojify opened #2766 "Traceback appears in Status Bar, when trying to replay live flow"
##### Steps to reproduce the problem:

1. Run **pathod** : `pathod -a "/=200:p0,10"`
2. Run mitmproxy.
3. Send _get request_ to pathod through mitmproxy using **pathoc**:
`pathoc -c localhost:9999 localhost:8080 'get:/'`
4. Try to replay the corresponding live flow in mitmproxy by pressing `r`.

I am seeing:
![screenshot from 2018-01-06 13-40-01](https://user-images.githubusercontent.com/20267977/

[2018-01-06 13:32] nemanjan00 commented on #2649
Great. I can't wait to get it :D

[2018-01-06 14:09] kajojify opened #2767 "Traceback appears in Status Bar, when trying to run Mitmproxy with --proxyauth ldap (ldaps) argument"
##### Steps to reproduce the problem:

Run Mitmproxy with argument: `mitmproxy --proxyauth ldap` or `mitmproxy --proxyauth ldaps`

I am seeing:
![screenshot from 2018-01-06 15-41-10](https://user-images.githubusercontent.com/20267977/34640265-0d47714c-f2f8-11e7-91c6-9bfe3a0f9eb6.png)

##### Any other comments? What have you tried so far?
This issue is occured, because mitmproxy doesn't control the

[2018-01-06 21:23] Kriechi commented on #2767
Looks like the [check](https://github.com/mitmproxy/mitmproxy/blob/012b938254e1bf14d47447d5f3661d3299d8f582/mitmproxy/addons/proxyauth.py#L153-L156) needs to be moved right after the `split`.

[2018-01-06 21:38] kajojify opened #2768 "Traceback appears, when trying to set mitmproxy's address as upstream server for reverse/upstream mode"
##### Steps to reproduce the problem:

1. Run mitmproxy in **reverse** or **upstream** mode, using its own address as  upstream server address:
`mitmproxy --mode reverse:http://127.0.0.1:8080` or
`mitmproxy --mode upstream:http://127.0.0.1:8080`
2. Make a request using pathoc `pathoc 127.0.0.1:8080 "get:/"` or a browser.

I am seeing:
![screenshot from 2018-01-06 23-29-35](https://user-images.gith

[2018-01-07 18:57] #2688 closed

[2018-01-07 22:00] kajojify commented on #2399
I have just reproduced it with `pathoc`. It seems, this bug is relevant only for POST requests, but I am not sure yet.
1. Run Mitmproxy.
2. `pathoc -c example.com:80 localhost:8080 'post:/:b200'`.
3. Enter the corresponding flow.
4. Press `e`.
5. `Form`.
The same traceback. I couldn't reproduce it with GET request.

[2018-01-07 22:05] #2767 closed

[2018-01-07 22:09] mhils commented on #2766
We need to check in the `replay.client` command that the flow(s) we're about to replay are not live yet.

[2018-01-07 22:10] mhils commented on #2760
This needs to be caught in the `view.create` command.

[2018-01-07 22:22] mhils commented on #2768
I believe we can fix this by moving [this line](https://github.com/mitmproxy/mitmproxy/blob/821d76df02f70ccca5623cbc65d02b80e3998704/mitmproxy/proxy/server.py#L117) into the try: block right afterwards. So that should be fairly simple, but we need a test! :-)

[2018-01-07 23:25] kajojify opened #2771 "Traceback appears, when trying to scan myself with nmap."
##### Steps to reproduce the problem:

1. Run mitmproxy.
2. Scan yourself with **nmap**: `nmap -sT localhost`

Traceback:
![image](https://user-images.githubusercontent.com/20267977/34655444-99f520ce-f412-11e7-9e5b-32d39d237b64.png)

##### System information

Mitmproxy: 3.0.0.dev0004 (commit 68c32d8)
Python:    3.5.2
OpenSSL:   OpenSSL 1.1.0g  2 Nov 2017
Platform:  Linux-4.4.0-104-generic-x86_64-w

[2018-01-08 10:33] hgbstu commented on #1846
@mhils Do you have an opinion on what @mhofman proposed? I also can't see an argument why the upstream certificate chain should not be requested if the there is no SNI extension present in the Client Hello?

[2018-01-08 11:03] fztfztfztfzt opened #2772 "Could I use socks proxy in upstream mode ?"
##### Steps to reproduce the problem:

Could I use socks proxy in upstream mode?
like,
`mitmproxy --mode upstream:socks://127.0.0.1:1080`
It seems that mitmproxy doesn't support socks proxy yet?

##### Any other comments? What have you tried so far?
##### System information

Mitmproxy: 3.0.0.dev27 (commit 1c769b0)
Python:    3.5.2
OpenSSL:   OpenSSL 1.1.0g  2 Nov 2017
Platform:  Linux-4.10.0-42-ge

[2018-01-08 11:08] Kriechi commented on #2772
duplicate of #211

[2018-01-08 11:08] #2772 closed

[2018-01-08 11:08] mhils commented on #1846
I think @mhofman's suggestion is reasonable for the specific use case, but not suitable for mitmproxy in general:

- Most importantly, there are cases where we don't have a server connection, but still need to generate an interception certificate. One example would be server replay, which we want to work offline in a plane. Additionally, users should be able to redirect requests in scripts even if

[2018-01-08 14:45] #2760 closed

[2018-01-08 17:34] kajojify opened #2774 "Traceback appears, when trying to create and then replay a flow with a request to mitm.it."
##### Steps to reproduce the problem:

1. Run mitmproxy.
2. Create a new flow by pressing `n`: `: view.create get http://mitm.it`.
3. Try to replay the corresponding flow by pressing `r`.

![image](https://user-images.githubusercontent.com/20267977/34683425-ad2c316c-f4aa-11e7-884e-4978ffa1f4c3.png)

##### System information

Mitmproxy: 3.0.0.dev0004 (commit 68c32d8)
Python:    3.5.2
OpenSSL:   Ope

[2018-01-08 18:07] Kriechi commented on #2774
Probably a duplicate of #2431. Fixing that should also fix this issue here.

[2018-01-08 18:19] kajojify commented on #2774
@Kriechi ok, let's close it for now. If #2431 doesn't fix it, I'll reopen.

[2018-01-08 18:19] #2774 closed

[2018-01-09 05:17] 3thicalH4CK3R opened #2775 "mitmproxy --version"
##### Steps to reproduce the problem:

1. mitmproxy command gives traceback error. By itself or with any [options]
2.
3.

##### Any other comments? What have you tried so far?
No matter what I do. I even upgraded my dist to the newest

##### System information
PRETTY_NAME="Kali GNU/Linux Rolling"
NAME="Kali GNU/Linux"
ID=kali
VERSION="2017.3"
VERSION_ID="2017.3"
ID_LIKE=debian

`Traceback (most re

[2018-01-09 09:07] Kriechi commented on #2775
Thanks for the bug report.
This issue should be already fixed since v3.0.0rc1 and git-master.

[2018-01-09 09:07] #2775 closed

[2018-01-09 13:47] #2731 closed

[2018-01-09 21:33] fuho opened #2776 "AttributeError: 'Edit' object has no attribute 'get_value' crash"
##### Steps to reproduce the problem:

1.Run mitmproxy, capture some flows containing json
2.Tab to go to `Response` to see the JSON
3. Hit `/` to Search and type in something, hit Enter

##### Expected behavior
Highlight first found search term

##### Current behavior
Mitmproxy crashes with Traceback (most recent call last):
[code]

#####

##### Any other comments? What have you tried so far?

##

[2018-01-09 21:57] fuho opened #2777 "Flow filters don't persist between invocations of `f`"
##### Steps to reproduce the problem:
1 - Hit `f` type in filter, make a typo
2 - Hit 'f' again to fix the typo

##### Expected behaviour
On second hit of f, when filter in use already the command line shows the current filter.

##### Current behaviour
On second hit of f, whn filter in use already, the filter is cleared.

##### System information
Mitmproxy 3 RC2

[2018-01-09 22:40] mhils commented on #2776
Thanks for the report!

[2018-01-09 22:41] mhils commented on #2777
Thanks again - this is very useful UX feedback!

[2018-01-10 01:01] MatthewShao commented on #2776
I try to reproduce this bug and found that it raise the same exception on every flow, no matter whether it contains json or not.

[2018-01-10 01:34] fuho commented on #2776
That is true, I wrote it for the one I actually tested just in case it was
something specific.

On Tue, Jan 9, 2018 at 8:01 PM Matthew Shao <notifications@github.com>
wrote:

[2018-01-10 01:38] fuho commented on #2777
Also haven't found a way to copy response body to clipboard. Well no easy
way, with a single key, I think it's doable with the new command interface.
I'll make a new report if I remember.

On Tue, Jan 9, 2018 at 5:41 PM Maximilian Hils <notifications@github.com>
wrote:

[2018-01-10 15:12] ujjwal96 commented on #2658
Ref: https://github.com/kaitai-io/kaitai_struct_formats/pull/73
@mhils The above PR handles the issue caused due to the attached GIF.

[2018-01-10 17:37] mhils opened #2779 "Implement `share` command"
@MatthewShao implemented a really cool static viewer based on mitmweb last summer: http://honeynet.org/node/1359.

Long story short, one can upload a mitmproxy flow file at share.mitmproxy.org and will get a shareable link in return. 😃 To make this more accessible, I think it would be awesome to have a mitmproxy command that takes a bunch of flows as argument, uploads them directly from within mit

[2018-01-10 17:40] mhils commented on #2779
For some related code, see e.g. the save command: https://github.com/mitmproxy/mitmproxy/blob/67300fab3119f055a6cbb43b7cbc9d33e849d165/mitmproxy/addons/save.py#L53-L67
It would be nice to use HTTP upload functionality from Python's stdlib opposed to requests to keep our library footprint small.

[2018-01-10 19:33] ujjwal96 commented on #2776
[code]

I get this error when trying commands invoked by <kbd>W</kbd> and <kbd>L</kbd>
I think this issue applies to most of the commands that take a text input

[2018-01-10 21:17] kajojify commented on #2779
@mhils Just want to clarify. I press, for example, `u` button, mitmproxy takes all available flows, uploads them at _share.mitmproxy.org_ and then gets _url_, displaying it in Status Bar.  But how will we be able to copy it and use somewhere?

[2018-01-10 21:20] cortesi commented on #2779
I've been thinking about this as well. It's a very exciting direction. This is certainly a 4.0 or beyond feature - we have quite a bit of work/thinking to do about the server component here.

[2018-01-10 21:21] mhils commented on #2779
@kajojify: For now, let's just add a command that can be manually invoked (press `:` and then enter the command and a flowspec) and logs the URL.

[2018-01-11 07:38] wufeifei opened #2782 "Add support for request content encodings"
Now, `-z` option will try to convince servers to send us un-compressed data, but client send server un-compressed data not support.

https://github.com/mitmproxy/mitmproxy/pull/7

[2018-01-11 08:19] rhertzog commented on #2751
For reference, the commit fixing this issue is this one: 33689c6b2d2373279ec9ca7bbdef75319d1d1d9c

[2018-01-11 10:23] kajojify opened #2783 "Mitmproxy crashes, when trying to export something in the file with incorrect path"
Related to #2750.
##### Steps to reproduce the problem:

1. Run mitmproxy.
2. Start intercept something.
3.  Press `e` to export specific flow to the file.
_input   -    the corresponding exception_

`/file.txt`   -   `PermissionError: [Errno 13] Permission denied: '/file.txt'`
`/home`   -    `IsADirectoryError: [Errno 21] Is a directory: '/home'`
`/ome/file.txt`   -   `FileNotFoundError: [Errno 2

[2018-01-11 12:25] #2766 closed

[2018-01-11 12:26] mhils commented on #2776
This has just been fixed by @ujjwal96 in #2780! :)

[2018-01-11 13:11] #2658 closed

[2018-01-11 13:25] #2776 closed

[2018-01-11 13:54] mhils commented on #2782
Hi,

I don't quite understand what your issue is. FWIW, we can hardly influence what the client sends us because the client starts sending data after opening the connection right away. :-)

[2018-01-11 13:59] mhils commented on #2719
Hi,

If you have configured mitmproxy as a regular proxy for your device, some apps may use functionality that bypasse the system proxy settings (see e.g. https://stackoverflow.com/questions/28061353/how-to-bypass-proxy-in-ios-programmatically). The only workaround is to use transparent mode and/or block connections from the device itself on your router. :-)

[2018-01-11 14:00] #2719 closed

[2018-01-11 14:00] #2672 closed

[2018-01-11 20:01] fuho commented on #2776
Wow, super quick response and fix. Thanks a lot!

[2018-01-12 09:28] wufeifei commented on #2782
If you use the -z option, mitmproxy parses the gzip-compressed response. When the response header contains the content-type: gzip, the final unzipped response can be viewed in flow.response.content.

The -z option handles response content only, but the request content may also be gzipped.

When asked whether to support gzip request content (gzip), so that we can see through flow.request.content gz

[2018-01-12 10:28] mhils commented on #2782
If you use a somewhat recent mitmproxy release, we always handle gzip decompression automatically. The anticomp option only makes sure that the server doesn't send us gzip.

[2018-01-12 10:28] #2782 closed

[2018-01-12 19:48] mhils opened #2785 "Editing message attributes is cumbersome on 3.0 / console.choose.cmd needs shortcuts."
##### Steps to reproduce the problem:

Editing a flow's URL currently requires the following keystrokes:
`e` -> `down` -> `down` -> `down` -> `down` -> `down` -> `down` -> `down` -> `down` -> `down` -> `down` -> `down` -> `down` -> `enter`.

This is a clear downgrade from 2.0 and before where each option in that dialog could be selected by pressing a specific key (e.g. `u` to edit the url). It'd b

[2018-01-12 19:52] mhils opened #2786 "Deleting the last flow from within the flowlist crashes mitmproxy"
##### Steps to reproduce the problem:

1. `mitmproxy`
2. `n` `enter` `enter` `d`

[code]

##### System information

Mitmproxy: 3.0.0.dev1147 (commit b7db304)
Python:    3.5.2
OpenSSL:   OpenSSL 1.1.0g  2 Nov 2017
Platform:  Linux-4.4.0-43-Microsoft-x86_64-with-Ubuntu-16.04-xenial

[2018-01-12 21:21] kajojify opened #2787 "Can't run mitmproxy after adding a command without type annotations"
##### Steps to reproduce the problem:

1. Open `mitmproxy/tools/console/consoleaddons.py`
2. Add arbitrary command without type annotations. For example:
[code]
3. Try to run mitmproxy.

Nothing happens. Absolutely. No exceptions, no UI.

##### Any other comments? What have you tried so far?
If you add a command with type annotations
[code]
everything will work ok.

##### System information

Mitmp

[2018-01-12 21:48] mhils opened #2788 "Store ClientHello Extensions"
@0x4d31 was interested in adding JA3 hash support to mitmproxy, so we need to give him a way to access all TLS extensions sent during the initial handshake.

[2018-01-13 13:09] #2788 closed

[2018-01-14 12:59] kajojify opened #2794 "Mitmproxy with received random data crashes, when trying to edit a form"
##### Steps to reproduce the problem:

1. Run mitmproxy.
2. `pathoc -c example.com:80 localhost:8080 'post:/:b@200'`
3. Choose the corresponding flow.
4. Press `e`.
5. Form.
**Traceback:**
[code]

##### System information

Mitmproxy: 3.0.0.dev0004 (commit 68c32d8)
Python:    3.5.2
OpenSSL:   OpenSSL 1.1.0g  2 Nov 2017
Platform:  Linux-4.4.0-109-generic-x86_64-with-Ubuntu-16.04-xenial

[2018-01-14 20:52] #2399 closed

[2018-01-14 20:54] #2768 closed

[2018-01-14 20:54] #2765 closed

[2018-01-15 09:22] nemanjan00 commented on #2649
Latest version under arch is still 2.0.2, both for community and blackarch...

[2018-01-15 09:41] Kriechi commented on #2649
@nemanjan00 We do not maintain Arch packages (or any other Linux distro repositories for that matter). Please contact the responsible person - or use our binaries & snapshots:
https://snapshots.mitmproxy.org
https://github.com/mitmproxy/mitmproxy/releases

[2018-01-15 14:52] kajojify opened #2795 "Not easy to choose the part of flow to edit, when second tab is opened below"
##### Steps to reproduce the problem:

1. Run mitmproxy.
2. Press `-`.
3. `n` -> `Enter` -> `Enter` -> `e`

We can see, that `Part` overlay wasn't displayed in full size.
![image](https://user-images.githubusercontent.com/20267977/34947536-0b08b428-fa13-11e7-8ab8-629037736719.png)

Thus if I want to choose `response-body`, `status_code`, `set-cookies` or `url`, I won't be able to see them and will

[2018-01-15 16:39] kira0204 commented on #1888
@mhils Is this still an issue?

[2018-01-16 23:42] kira0204 commented on #2779
Hi, I would like to work on it :) Will keep you updates as I progress

[2018-01-17 01:58] arekbulski opened #2797 "What happened to Construct?"
I am the Construct maintainer (but also participate in Kaitai) and wanted to inquire, what happened to Construct? The way I understand, its no longer used in mitmproxy, superseded by Kaitai?

[2018-01-17 02:34] mhils commented on #2797
Hi @arekbulski!

Thanks for your fantastic work on Construct. I'm sorry to say that we are indeed not using Construct anymore. This doesn't really have anything to do with Construct itself -  this is a side-effect of our efforts to reduce the number of dependencies we have in order to simplify maintenance. We have cut out quite a few dependencies over the last year: lxml, cssutils, jsbeautifier, c

[2018-01-17 02:47] arekbulski commented on #2797
Yeah, that is just fine. I was just wondering. :)
PS how do you do that smiley?

[2018-01-17 02:49] mhils commented on #2797
Glad to hear that. Really nothing personal, we just hate to have too many deps.
The smiley is `:slightly_smiling_face:` 😃

[2018-01-17 02:49] #2797 closed

[2018-01-17 17:33] kira0204 commented on #2779
I am almost done, one doubt I have is that since the data is being encoded by multipart/form-data , I need to load the file into the memory first, can I use 'poster' to achieve this or go forward with standard libraries?
@mhils

[2018-01-18 10:53] kajojify opened #2800 "Mitmproxy crashes, when viewing response body in url-encoded mode"
##### Steps to reproduce the problem:

1. Run mitmproxy.
2. `n` -> `Enter` -> `Enter` -> `m` -> `url-encoded`

_I am seeing:_
[code]

##### Any other comments? What have you tried so far?

This issue is reproducible not only for request/response without body, but for `query` (maybe some others) content type as well. I continue digging.

##### System information

Mitmproxy: 3.0.0.dev53 (commit 3b52

[2018-01-18 16:53] M-DiMartino opened #2801 "Binary (unicode) replacements will crash mitmproxy"
##### Steps to reproduce the problem:

1.  Add a regex replacement for responses (~s) with the regex containing unicode characters (for instance, '\u0020\u1200\u1234'). The replacement can be anything. Note how mitmproxy changes all the '\\' to a double one, thinking it is matching the '\\' itself.
2. If mitmproxy receives a response, it will crash with the message: 'bad escape \u at position 0'

[2018-01-18 18:21] mhils commented on #2801
Thanks! Can you please test if this still applies with the latest release candidate? Also, does it happen with _every_ flow, or only specific ones?

[2018-01-18 18:27] #2752 closed

[2018-01-18 18:31] #2786 closed

[2018-01-18 19:27] kira0204 commented on #2779
Hi,
So the approach I am using is that I am saving the flows in a temporary file, (the name will be the unique 7 letter id), the doubt I have is that to send a POST request I need to read the contents of the file so should I use `read_flows_from_paths(paths)` or
[code]
and use `content` to send the POST request?

[2018-01-18 22:20] cabreak2 commented on #2801
It happens with every flow.
I have tried it with mitmproxy 3.0.0 and it still shows the same error (although, it doesn't crash).

If I add the replacement:  _/~s/\x89\x88\x87/pqr_
After going out of the window, it will automatically convert it to  _['/~s/\udc89\udc89\udc87/pqr']_
which will result into an error when any response is received: _UnicodeEncodeError: 'utf-8' codec can't encode characte

[2018-01-20 06:18] gitxmax opened #2804 "mitmproxy==0.18.2 ImportError: cannot import name ssl_match_hostname"
Hello,
Installing mitmproxy 0.18.2, as WIFI-PUMPKIN dependency. Kali 2017.3 on Raspberry Pi3.
Though, everything installs just fine, I get the following error, when starting mitmproxy:
"from backports import ssl_match_hostname
ImportError: cannot import name ssl_match_hostname"
Tried reinstalling blackports.ssl_match_hostname many times over, followed by pip install -U mitmproxy==0.18.2
But, alway

[2018-01-20 07:36] ankitsaini2609 opened #2805 "mitm proxy crashes when trying to edit None Type Response headers"
##### Steps to reproduce the problem:

1. Run mitmproxy
2. Make a new request using `n` press enter twice to create the request.
3. Go to **response tab** in `console view`
4. Edit the response using `e` and select `response headers`
5. You will get the following Screen

![image](https://user-images.githubusercontent.com/20846432/35181084-55dc2a26-fde1-11e7-8039-14547087e057.png)

## Reason :
1. I

[2018-01-20 09:07] kajojify commented on #2805
@ankitsaini2609 Hello! Thanks for the nice report! It was fixed in master branch :)
#2752 issue.

[2018-01-20 11:25] ankitsaini2609 commented on #2753
I have found where the bug lies, Probably `'view_grideditor'` function is not included in `ConsoleMaster` class.
`view_grideditor` function is present in released version2.0.2:- [check here](https://github.com/mitmproxy/mitmproxy/blob/2.0.x/mitmproxy/tools/console/master.py#L333)
While `view_grideditor` function in not included in development version [check here](https://github.com/mitmproxy/mitmp

[2018-01-20 13:40] Al-Anoud opened #2806 "Save mitmproxy encrypted traffics in a pcap format for further analysis"
Hi
I have IoT device/s which I successfully managed to decrypt its traffic using mitmproxy. Now I want to save those traffic for further investigation and analysis. Indeed I saved it using ( -w output ) command but I  could only open it in text a format and it seems a bit miss as well as it is difficult or let's say time consuming to analyze. So please could you advice if there is any way to save

[2018-01-20 17:22] kira0204 commented on #1856
@vigneshram93 @vmnguyen @PiyushGoyal443  Working on it?

[2018-01-20 17:25] kira0204 commented on #2750
@kajojify What are those two places where you found the exceptions, just curious

[2018-01-20 18:33] kajojify commented on #2750
@kira0204 #2783
PR was created for this issue https://github.com/mitmproxy/mitmproxy/pull/2761
I am waiting for the guy, that was working on it :)

[2018-01-20 21:32] kajojify commented on #2753
It seems I fixed it, but another (I suppose, not related) problem appeared - if I edit attributes, the result won't be saved. Continue working on it.
@ankitsaini2609 Sorry, I didn't warn, that I was working on it. When I started to work on this issue, almost nobody were working on issues, so there was no any point to say "working on it".

[2018-01-21 12:06] ankitsaini2609 commented on #2753
@kajojify  kindly comment on all the issues in which you are working immediately so other people know that, yes you are working on that issues and you had to tell me that you are working on that issue, a warning is something different and how would you know that nobody was working on that issue?

[2018-01-21 14:01] kajojify commented on #2753
@ankitsaini2609 again, I am sorry. It won't be happened again.
If you want, you can take this one. It will be fair, I think :)

[2018-01-21 14:01] kajojify commented on #2750
Working on it.

[2018-01-21 14:01] kajojify commented on #2783
Working on it.

[2018-01-21 14:45] ankitsaini2609 commented on #2753
@kajojify no problem, you can work on it since you already solved half of the problem. :)

[2018-01-21 15:04] ankitsaini2609 commented on #2795
@kajojify I have followed `exactly` same steps which you mentioned above to reproduce the problem but it seems like everything is going fine take a look :

![image](https://user-images.githubusercontent.com/20846432/35195475-fb38e06e-fee9-11e7-8577-5fa1ea6d67d6.png)

System information:-
![image](https://user-images.githubusercontent.com/20846432/35195488-376aba12-feea-11e7-9012-44bd403916cc.png)

[2018-01-21 15:23] kajojify commented on #2795
@ankitsaini2609 did you resize the window after running mitmproxy?

[2018-01-21 15:39] kajojify commented on #2795
@ankitsaini2609 I think it also depends on display size.

[2018-01-21 15:44] kira0204 commented on #2795
@kajojify @ankitsaini2609 The Events windows is covering the options. if the display size is big enough this doesn't happen.

[2018-01-21 22:19] kira0204 commented on #2194
Working on this

[2018-01-22 09:19] habedi commented on #2025
Hi, I had the same problem and after Installing vc_redist.x86.exe that I downloaded from https://download.microsoft.com/download/9/3/F/93FCF1E7-E6A4-478B-96E7-D4B285925B00/vc_redist.x86.exe the problem seems to be solved.

[2018-01-22 12:44] mhils commented on #2025
This should be fixed in the 3.0.x release candidates, so I'm closing this here :)

[2018-01-22 12:44] #2025 closed

[2018-01-22 13:35] gitxmax commented on #2804
As I mentioned in my original post,  mitmproxy 0.18.2 is the specific requirement of the https://github.com/P0cL4bs/WiFi-Pumpkin.
Can't be simply updated.

[2018-01-22 14:47] kajojify opened #2810 "Mitmproxy crashes, when trying to use command, which contains '\'"
##### Steps to reproduce the problem:

1. Run mitmproxy.
2. Press `:`
3. Input `\` and press `Enter`.

I am seeing:
[code]
##### Any other comments? What have you tried so far?

The exception is raised each time, when command line contains `\` (no matter where it is located.)

##### System information

Mitmproxy: 3.0.0.dev64 (commit 6dd336f)
Python:    3.5.2
OpenSSL:   OpenSSL 1.1.0g  2 Nov 2017
P

[2018-01-22 18:35] ankitsaini2609 commented on #2771
I have solved this issue see images :)
![image](https://user-images.githubusercontent.com/20846432/35237572-10a30e6a-ffd1-11e7-809a-572aa175e395.png)

Now it will not show traceback error.

[2018-01-22 18:53] ankitsaini2609 commented on #2771
I have solved this issue, this issue arises because there is an exception which goes unhandled in case of localhost. This is the [line](https://github.com/mitmproxy/mitmproxy/blob/master/mitmproxy/net/tcp.py#L294) where this exception arises. So I have added a try-except statement to handle it.

##### Solution :-
[code]
##### System Information
Mitmproxy: 3.0.0.dev1165 (commit 6dd336f)
Python:

[2018-01-22 19:00] hemo91 commented on #2771
@ankitsaini2609
Is this true `connection.getpeername() == connection`  ?

I don't suppose so

[2018-01-22 19:06] ankitsaini2609 commented on #2771
Yes, their output is same I have checked it, `getpeername()` return the remote address to which the socket is connected. and in the case when exception happen  value of `connection`  is same as `connection.getpeername()`

[2018-01-22 19:11] hemo91 commented on #2771
@ankitsaini2609
so you mean 1234 == '1234' would be same, cause print(1234) and print('1234') is same ?

Man , please check your basics first .

[2018-01-22 19:13] hemo91 commented on #2771
@ankitsaini2609
Man, please don't delete your comments, if it's wrong we will correct you here.

[2018-01-22 19:16] ankitsaini2609 commented on #2771
I am working on it, give me some time yes I was wrong, let me modify my code little bit more

[2018-01-22 19:40] kira0204 commented on #2194
Hi,
When I was working on this I noticed that `examples/complex/xss_scanner.py` contains many errors. Some of those errors are calling `decode()` attribute on `str` tyoe. Can I edit the code as well?

[2018-01-22 20:04] kira0204 commented on #2194
I am not able to understand why there is a difference when we are talking about XSS and SQL

https://github.com/mitmproxy/mitmproxy/blob/6dd336fcec6dc32c4986b6c20189bf1b2132153c/examples/complex/xss_scanner.py#L168-L184

And in the test file as well, this has been done

https://github.com/mitmproxy/mitmproxy/blob/6dd336fcec6dc32c4986b6c20189bf1b2132153c/test/examples/test_xss_scanner.py#L331-L350

[2018-01-22 20:23] ankitsaini2609 commented on #2771
I was wrong before in which I was assigning  `self.ip_address = connection ` there is no need to assign `self.ip_address = connection` when you encounter that exception just pass that line and start execution from the next line, so if there is another exception going to happen that is handled by [line](https://github.com/mitmproxy/mitmproxy/blob/master/mitmproxy/net/tcp.py#L590)
##### Modified Cod

[2018-01-22 20:23] kajojify commented on #2785
@mhils How should it look like?
I see two and a half variants :)
1) Like in mitmproxy 2.0.x. When we press `e` in flowview, Part overlay appears along with message in status bar:
![image](https://user-images.githubusercontent.com/20267977/35242172-801cffd6-ffc1-11e7-9dd4-c71536864476.png)
Then when I press the certain button, the corresponding editor opens.

2) Each line in Part overlay has its sh

[2018-01-22 20:34] hemo91 commented on #2771
@ankitsaini2609
That was quick 😉
Need to test, on my system.
Can you send me the link of your branch where you have pushed your modified code, so that I can pull it and test it 👍

Also, instead of only giving a reference like this

It would be better if you give a small context and then the reference link. It lessens the pain of directly switching back and forth tabs. Something like this :
[Refere

[2018-01-22 20:41] mhils commented on #2785
@kajojify: I think both 1) and 2b) are good alternatives. My initial idea was that we have `console.choose.cmd` auto-select keyboard shortcuts so that it maybe looks like this:
![image](https://user-images.githubusercontent.com/1019198/35243179-3cf94160-ffbc-11e7-9594-cbb678216487.png)
(this could get aesthetically nicer if we reorder the entries)

or like this:
![image](https://user-images.github

[2018-01-22 20:50] kajojify commented on #2785
Ok, I'll try to work on it :)

[2018-01-22 21:19] ankitsaini2609 commented on #2771
Actually, I am a noob but yeah I will remember it from next time.

[2018-01-22 21:41] hemo91 commented on #2771
@ankitsaini2609
No worries man, we all are learning.
You learn a lot by getting involved with the community. Perhaps you have just started contributing in opensource projects.

**Follow community guidelines** , for starters don't delete your comments 😃

[2018-01-22 21:42] ankitsaini2609 commented on #2771
This is the [link](https://github.com/ankitsaini2609/mitmproxy/tree/issue2771) of my branch where I have pushed my modified code. :-)

[2018-01-23 07:26] kira0204 commented on #2194
@mhils @cortesi @Kriechi What do you guys think?

[2018-01-23 08:34] Kriechi commented on #2194
The XSS scanner example was contributed by @ddworken in #1907 - I don't think any of us is deeply familiar with the example in this case, sorry.

[2018-01-23 09:28] kira0204 commented on #2194
Aah okay, I will wait for @ddworken to reply

[2018-01-23 13:50] mhils opened #2812 "Google Summer of Code 2018: Getting Started"
![gsoc](https://cloud.githubusercontent.com/assets/1019198/22106433/058d5a26-de49-11e6-893e-6a5ff97ffe78.png)

---

Mitmproxy is participating under the umbrella of the Honeynet project in the Google Summer of Code 2018. We have [two exciting project proposals](https://honeynet.org/gsoc2018/ideas#mitmproxy) and are open for other ideas as well.

This issue is targeted at potential GSoC students to

[2018-01-23 15:26] kajojify commented on #2753
**Update**
While working on this issue, I found a new bug.
If we edit any part of flow in grideditor and then decide to enter Help tab (or any other) by pressing `ctrl+?`, all our editings won't be saved and will disappear.
I'll include the fix into my PR.

[2018-01-24 03:02] ddworken commented on #2194
@kira0204 If you look at what info is actually being logged, it is slightly different data so I kept it in different functions. The XSS logger logs a suggested exploit and the line while the SQLi logger logs the regex used and the suspected DBMS.

You're definitely right though that there are a bunch of mypy errors, I had been using pycharm and apparently its checker isn't as comprehensive. Let me

[2018-01-24 06:47] kira0204 commented on #2194
@ddworken Thank you so much for replying. I got why two separate functions are used but I don't understand why `sqli_info.url` needs to be decoded? They are already in the `str` format.

[2018-01-25 02:56] ddworken commented on #2194
That's a very good point. :) When I had been writing the code I had been changing it up between str and bytes and must have left in that mistake when refactoring.

[2018-01-25 11:02] raulsiles opened #2813 "mitmproxy transparent and upstream modes: mutually exclusive"
##### Steps to reproduce the problem:

1. I'm trying to run mitmproxy in transparent mode with an upstream proxy.
[code]
2. The error message specifies both modes are mutually exclusive, although the documentation does not talk specifically about this scenario, where these two modes are combined:
http://docs.mitmproxy.org/en/stable/modes.html
3. I think there are scenarios where this setup might w

[2018-01-25 11:44] kira0204 commented on #2194
Okay, do you mind if I fix that and rewrite the code a little :)

[2018-01-25 12:58] mhils commented on #2813
Hi,

Thanks for the report. The error message makes more sense for all other mutually exclusive combinations - in theory transparent and upstream mode could be combined. As I see it, proxychains and redsocks cover the use case of transparently wrapping connections sufficiently, so we're currently not planning to implement this as it adds quite a bit of complexity.

[2018-01-25 12:58] #2813 closed

[2018-01-25 15:06] #2800 closed

[2018-01-25 15:07] raulsiles commented on #2813
@mhils I'm not sure I clearly described the scenario above, as I don't see the need to involve other tools.

The client to mitmproxy link (in transparent mode) is implemented in my case using iptables, so all the selected traffic from the client (let's say tcp/80 and tcp/443) transparently ends up in mitmtproxy. So the question is, why mitmproxy cannot forward all its traffic subsequently to an up

[2018-01-25 15:21] mhils commented on #2813
@raulsiles: What would you expect mitmproxy to do no the server side? Just open a TCP connection and send a `HTTP CONNECT`, or take an incoming HTTP request and transform it into absolute-form? The former would be relatively trivial to implement, the latter is not as straightforward. Assuming we would always do the former, what do we do if the upstream proxy refuses to CONNECT? How do we signal th

[2018-01-25 16:05] ddworken commented on #2194
Go ahead of course!

[2018-01-26 11:19] kajojify commented on #2783
Closed in https://github.com/mitmproxy/mitmproxy/pull/2809

[2018-01-26 11:19] #2783 closed

[2018-01-26 11:19] kajojify commented on #2750
Closed in https://github.com/mitmproxy/mitmproxy/pull/2809

[2018-01-26 11:19] #2750 closed

[2018-01-26 11:40] raulsiles commented on #2813
I would expect mitmproxy to present a normal behavior on the server side, as you have mentioned, mostly similar to its behavior when it connects directly to a destination server (but in this case via a proxy: opening a TCP connection and sending a HTTP CONNECT).

If the upstream proxy refuses to CONNECT, for example, we can signal that to the user similarly as when a request is discarded in mitmpr

[2018-01-26 12:32] mhils commented on #2813
You either use some iptables magic to chain proxies, or you use redsocks/proxychains as the first entrypoint.

I get your overall point though - if always CONNECTing is enough, this is something we should at least consider for #1775. Thanks again for the detailed arguments!

[2018-01-26 12:51] raulsiles commented on #2813
Thank you for adding it to the potential todo list!

[2018-01-26 17:44] eldraco opened #2815 "Crash just by being used as a proxy."
##### Steps to reproduce the problem:
Not sure if possible.

1. start mitmproxy
2. someone connected and used the proxy and triggered the error
3.

##### Any other comments? What have you tried so far?
Output of mitmproxy error

Traceback (most recent call last): in HTTP connection: TcpDisconnect('[Errno 104] Connection reset by peer',)
  File "/usr/local/lib/python3.5/dist-packages/mitmproxy/tool

[2018-01-26 17:47] mhils commented on #2815
Thanks for the report. Is that happening consistently, or a random crash? Which urwid version are you using (you can see that using `pip freeze`)?

[2018-01-26 19:20] eldraco commented on #2815
No. One-time Crash.

urwid==1.3.1

[2018-01-26 19:27] mhils commented on #2815
Thanks for the speedy reply. You're running into https://github.com/urwid/urwid/issues/246 here, which should be fixed with the latest urwid release. We'll bump the minimum requirement for mitmproxy!

[2018-01-26 19:28] #2815 closed

[2018-01-27 00:52] kajojify opened #2816 "Mitmproxy crashes, when trying to send cuts to the clipboard without copy/paste mechanism for system"
##### Steps to reproduce the problem:

1. Run mitmproxy.
2. Press `Ctrl l`
3. Input `: cut.clip 1 2 `. Press `Enter`.

Traceback:
[code]

##### Any other comments? What have you tried so far?

As traceback says, the issue is relevant for Linux without installed copy/paste mechanism and can be fixed using this https://pyperclip.readthedocs.io/en/latest/introduction.html#not-implemented-error.
I thi

[2018-01-29 10:41] kajojify commented on #2785
I think, it also makes sense to implements shortcuts for _mode_ overlay
![image](https://user-images.githubusercontent.com/20267977/35506376-b8340538-04f1-11e8-9ed2-88ca6368ea94.png)

[2018-01-29 11:46] kajojify opened #2818 "It is difficult to get information from request/response/detail tab, if url is very-very long"
##### Steps to reproduce the problem:

1. Run mitmproxy.
2. Make a request with pathoc: `pathoc -c example.com:80 localhost:8080 'get:/SOMETHING VERY LONG'`
3. Enter the corresponding flow.
You won't be able to see request/response/detail of the flow without changing size of your window.
![image](https://user-images.githubusercontent.com/20267977/35508608-a7e26636-04f9-11e8-96e6-2627d0b8d1f0.png)

[2018-01-29 13:47] mhils commented on #2785
@kajojify: both use `console.choose` so it should be the same code :)

[2018-01-30 02:07] Yannik opened #2821 "Android nougat chrome "NET_ERR_CERT_AUTHORITY_INVALID""
##### Steps to reproduce the problem:

1. add mitmproxy ca cert to system certificate store as described here: https://github.com/mitmproxy/mitmproxy/issues/2054#issuecomment-327735569
2. Open https site on google chrome for android 63 on android 7.1.2
3. error shows up

##### System information

Mitmproxy version: 2.0.2 (release version)
Python version: 3.6.4
Platform: Linux-4.14.13-300.fc27.x86_

[2018-01-30 14:58] ddor254 opened #2822 "parentheses in print function and python version"
##### Steps to reproduce the problem:

1. run mitmproxy/mitmdump with script -s "script.py"

##### Any other comments? What have you tried so far?
I'm using mitmproxy version 0.15, how do i know which python version does it use?
I assumed that it uses python 2.7 from th docs.
the only problem i don't understand is why do we need parentheses  in print function if it is python 2.7???

the print func

[2018-01-30 15:00] mhils commented on #2822
Thanks. It looks like your mitmproxy is outdated. We're unfortunately not providing support for outdated releases.

[2018-01-30 15:00] #2822 closed

[2018-01-30 15:12] ddor254 commented on #2822
in 0.18 it is the same - 0.18 is also not supported?

[2018-01-30 15:16] mhils commented on #2822
We only support the latest stable release (2.0) and newer developer snapshots, sorry. And yes, Python 2 releases are explicitly _not_ supported anymore.

Without looking closer at your problem, I presume we had a `from __future__ import print_function` in our codebase somewhere.

[2018-01-30 15:17] ddor254 commented on #2822
o.k thank you for the quick help

[2018-01-30 16:08] mhils commented on #2821
Thanks for the report. I believe this is a duplicate of #2054.

[2018-01-30 16:08] #2821 closed

[2018-01-30 16:14] nimatrueway opened #2823 "Regular failure on mpeg-dash video seeking on http2"
Hey guys. Thanks for this incredible tool. I tried to write a script that manipulates SNI of TLS connections in all requests and got no problem regarding that.

However when I load a **page with video (MPEG-DASH)** say a facebook video, the connection **quality** goes **very bad**. It takes a **long time** if it doesn't fail when you want to **seek** back and forth through a video. Can anybody exp

[2018-01-30 16:36] mhils commented on #2823
Have you tried enabling HTTP response streaming in mitmproxy? This can be done by setting the `stream_large_bodies` in mitmproxy 3.0 or by using the corresponding command line flag in 2.0.

[2018-01-30 16:38] nimatrueway commented on #2823
Yea @mhils, tried all of these but couldn't fix it.
1. `--set stream_large_bodies=0`
2. `--set stream_large_bodies=1`
3. `--set stream_large_bodies=250k`

[2018-01-30 16:44] mhils commented on #2823
1. Does it work without your script?
2. Can you view the response in mitmproxy?
3. Are we on HTTP/1 or HTTP/2?

[2018-01-30 17:14] Yannik commented on #2821
@mhils I explicitly linked #2054 in my bug report. I already applied the proposed fix for #2054. Therefore I don't think it is a duplicate.

[2018-01-30 17:16] mhils commented on #2821
Interception works just fine for me - what specific error are you seeing?

[2018-01-30 17:27] LetMeR00t opened #2824 "[Configuration file] keys are not used"
##### Steps to reproduce the problem:

1. Create a configuration file at .mitmproxy/config.yaml
2. Set this configuration:
mode: "transparent"
showhost: true
3. Start mitmproxy using this command : "mitmproxy --conf config.yaml" (I'm on the .mitmproxy folder of course)
The process is started but the traffic is not working
4. Start mitmproxy using this command : "mitmproxy -T --host"
The process is

[2018-01-30 17:44] mhils commented on #2824
Thanks.
[code]
work for me fine on master. Please check if 3.0 works for you.

[2018-01-30 18:07] nimatrueway commented on #2823
1. Interesting question ! No, even with no script mitmproxy can't relay it properly.
2. There is no response to those requests aiming video data. 🤔
3. HTTP/2

I tried a couple of other websites and figured HTTP/1.1 is OK and the problem is within HTTP/2 responses.

[2018-01-30 18:22] mhils commented on #2823
Just to be sure, does it work if you force HTTP/1 (`--set http2=false`) with all other things being equal?

[2018-01-30 18:36] nimatrueway commented on #2823
Problem went after forcing HTTP/1 👍

[2018-01-30 18:45] mhils opened #2826 "Better UI Testing"
We're currently doing a bad job at testing the mitmproxy console UI. While there's an argument to be had that test coverage for UI code quickly yields diminishing returns, we should certainly do better than we do right now. It would be very cool if we had a basic framework to drive UI interactions for testing. I'd love to be able to write a test that roughly looks like this:

[code]

The syntax is

[2018-01-30 19:34] mhils commented on #2823
@Kriechi, any ideas?

[2018-01-30 19:38] Kriechi commented on #2823
I'm not familiar with MPEG streaming.

* There could be some latency / round-trip measurement that gets screwed up between client<->proxy and proxy<->server.
* What is actually transferred? Is it a single HTTP request+response, or does MPEG-dash make use of some fancy H2 feature (pushed streams? windowing?)?

Would be good to have a test site. @nimatrueway can you provide a link, or can we build a

[2018-01-30 20:05] nimatrueway commented on #2823
It's a really weird (performance/load kind of problem) problem guys. Today I spent hours trying to find out what is it exactly that goes wrong so that I can elaborate here but I couldn't.

Let me close this issue for the moment, because this project is really hot and is already very busy with more important issues. I'll re-open it whenever I got solid evidence and could spot the exact bug.

Thank

[2018-01-30 20:05] #2823 closed

[2018-01-30 20:19] #2753 closed

[2018-01-30 20:39] Kriechi commented on #2823
For future reference, I think we can use this to test mitmproxy with MPEG-DASH:
https://reference.dashif.org/dash.js/v2.6.5/samples/dash-if-reference-player/index.html

[2018-01-30 20:46] kajojify opened #2827 "Mitmproxy crashes, when setting only value in cookies/set-cookies grideditor"
##### Steps to reproduce the problem:

1. Run mitmproxy.
2. Press `n` -> `enter` -> `enter` -> `e` -> `cookies` (or `set-cookies`)
3. You are in grideditor. Press `a`. Choose `Value` column and add any value.
You will see something like:
![image](https://user-images.githubusercontent.com/20267977/35590192-be00b434-060e-11e8-8ebd-e5bb20952aef.png)

4. Press `q` -> `e` -> `cookies` (or `set-cookies`

[2018-01-31 10:36] LetMeR00t commented on #2824
Hello !
It works now using the last release.
However, it seems that I have another issue using the v3 release.
I'm using cuckoo with mitmproxy for analyzing malwares/urls.
I have a script in /opt/cuckoo/stuff/mitm.py that is used by the mitmdump command.

When I used the v2.0.2 release of mitmproxy with cuckoo 2.0.5, it works (well, it's not working with the config.yaml file but with the v3 as I s

[2018-01-31 10:41] LetMeR00t commented on #2824
Some screeshots :
Here is my script :

![capture du 2018-01-31 11-36-39](https://user-images.githubusercontent.com/10530375/35618556-a3adca64-067b-11e8-9db7-fa30fafe55a5.png)

Using v2 release :
![capture du 2018-01-31 11-36-45](https://user-images.githubusercontent.com/10530375/35618557-a3d3f5d6-067b-11e8-9713-3dfb6ad58aa9.png)

Using v3 release :
![capture du 2018-01-31 11-36-56](https://user-im

[2018-01-31 10:48] mhils commented on #2824
Hm, weird. It errors here: https://github.com/mitmproxy/mitmproxy/blob/aa8969b240310f265640c92e14a4b7d6363e464b/mitmproxy/addons/script.py#L52-L53. Is your `mitm.py` symlinked or is there something else that could make `isfile` fail?

[2018-01-31 11:09] LetMeR00t commented on #2824
Yes, I have a symlink ..., but it's the same for v2 and v3 release (I change the mitmdump program in /usr/bin/)
![capture du 2018-01-31 12-06-51](https://user-images.githubusercontent.com/10530375/35619815-7d4eb7f8-067f-11e8-9d56-67884cadb5f8.png)

[2018-01-31 11:11] mhils commented on #2824
What's `os.path.isfile("/opt/cuckoo/stuff/mitm.py")` for you?

[2018-01-31 12:13] LetMeR00t commented on #2824
With this code :
![capture du 2018-01-31 13-10-09](https://user-images.githubusercontent.com/10530375/35622526-6b594ab4-0688-11e8-8659-80d596db6eba.png)

As espected :
![capture du 2018-01-31 13-10-12](https://user-images.githubusercontent.com/10530375/35622528-6b87abd4-0688-11e8-8655-5dcb1e06cd3d.png)

[2018-01-31 12:26] laurdawn opened #2828 "run mitmdump lead memory leaks..."
##### Steps to reproduce the problem:
I just want to run mitmdump with the default mode....
For example, just run it. "mitmdump -p 8888"
Sorry,,my English is so bad.

##### Any other comments? What have you tried so far?
I looked at all the problems, and there were a few of them, but they couldn't be solved.
For example, I try to add param "-Z 0" or "--stream 0" to avoid it,,,But it doesn't seem t

[2018-01-31 13:00] 00cool commented on #1017
Hello @nesttle!

Did you find any information on how we can redirect the traffic from OpenVPN to the Mitmproxy? I'm trying to do the same. Thanks!

[2018-01-31 13:03] Yannik commented on #2821
@mhils The certificate is not accepted by the client.

[2018-01-31 13:07] mhils commented on #2824
No idea why it's not working then, sorry. This is the only place where we raise this exception.

[2018-01-31 13:18] kajojify opened #2829 "Incorrect displaying of set-cookie attributes, if no name-value pairs were set in set-cookie header editor"
##### Steps to reproduce the problem:

1. Run mitmproxy.
2. Press `n` -> `Enter` -> `Enter` -> `e` -> `set-cookies`
3. Press `a` to add a new row.
4. Choose `Attributes` column and enter subeditor.
5. Add any name-value pair, for example `a    1`.
6. Go to flowview tab by pressing `q` twice. You will see this in Response tab:
![image](https://user-images.githubusercontent.com/20267977/35624324-570

[2018-01-31 14:49] LetMeR00t commented on #2824
I will try to find the reason. As you said, it weird to have this issue because it's only happening when the file doesn't exist and the v2 is proving that the file exists.
I will keep you in touch

[2018-01-31 15:09] Al-Anoud opened #2830 "How I can log the TLS master secrets with mitmproxy and use it in the wireshark"
Hi,
I asked before a question about how can I save a mitmproxy data in a pcap format  Issue #2806.
So based on the suggestion to  (1) log the TLS master secrets with mitmproxy and (2) use a normal PCAP tool for packet capture, I tried to do it myself but unfortunately it did not work or maybe I did something wrong
if some one did this process and it work with him, please help.

Thank you
Anoud

[2018-01-31 15:11] mhils commented on #2830
When you created this issue, you should have read the following message pre-filled into the textarea: Please use the mitmproxy forums (https://discourse.mitmproxy.org/) for support/how-to questions. Thanks!

[2018-01-31 15:11] #2830 closed

[2018-01-31 17:01] cabreak2 commented on #2801
Any additional information on triaging the issue ?

[2018-01-31 20:25] mhils commented on #2801
Thanks for the heads-up. Issue description is clear I think, we just need to get to the bottom of it and find a fix. :-)

[2018-01-31 21:44] LetMeR00t commented on #2824
I’ll try something tomorrow but I would like to notice you on my idea.
As you can see on the code, the error is returning the path and not the fullpath variable .......
Maybe there is something wrong with the processing of path into the fullpath ? Because yes the path seems correct but what about the fullpath variable that is indeed tested ? I’ll keep you in touch

[2018-01-31 21:46] mhils commented on #2824
I was thinking about that as well, but
[code]
should always hold true. Let me know if you find something!

[2018-02-01 00:11] kira0204 opened #2831 "Form data being deleted, if tried to edit JSON form data"
##### Steps to reproduce the problem:

1. Run mitmproxy
2. Capture some flows with method `POST` and form in JSON, [Example Website](http://knowyourteacher.herokuapp.com/)
3. Press `enter`
![image](https://user-images.githubusercontent.com/19341613/35654181-e204a62a-0711-11e8-9b4d-b2565edbd345.png)

4.  Press `e` -> `form`
![image](https://user-images.githubusercontent.com/19341613/35654206-fc5498

[2018-02-01 00:50] fiery- commented on #2054
It seems that [this research lab](https://blog.nviso.be/2017/12/22/intercepting-https-traffic-from-apps-on-android-7-using-magisk-burp/) has released a [module](https://github.com/NVISO-BE/MagiskTrustUserCerts) that is able to install client certificates on Android Nougat. There is even a screenshot with mitmproxy cert installed. Module is explained as: `Universal Systemless Interface, to create a

[2018-02-01 08:25] LetMeR00t commented on #2824
I think I found out what's going on :

`2018-02-01 09:17:12,033 [cuckoo.auxiliary.mitm] INFO: ['/usr/local/bin/mitmdump', '-q', '-s', '"/opt/cuckoo/stuff/mitm.py" ', '-p', '8080', '-w', '/opt/cuckoo/storage/analyses/2/dump.mitm']`

Here is the parameters given to mitmproxy. You will see that the script parameter contains a space at the end of the string (maybe waiting for arguments depending on th

[2018-02-01 08:27] ddor254 opened #2832 "Invalid HTTP request form (expected: authority or absolute, got: relative)"
##### Steps to reproduce the problem:

1. mitmdump -p 9999
on the same machine:
2.curl http://localhost:9999

##### Any other comments? What have you tried so far?
I get the "127.0.0.1:60422: HTTP protocol error in client request: Invalid HTTP request form (expected: authority or absolute, got: relative)" error,

when running with the -T option i get the following error:
"127.0.0.1:60420: Transpar

[2018-02-01 08:31] mhils commented on #2824
Ah, great catch! https://github.com/mitmproxy/mitmproxy/blob/master/mitmproxy/addons/script.py is quite different for 2.0 and master, so this does make sense. The bug itself looks like it manily needs to be fixed in Cuckoo, I'll adjust the error message though so that it becomes obvious when debugging. Thanks!

[2018-02-01 08:42] LetMeR00t commented on #2824
I would like to add something else to you ! ;)
I think this is not linked to the space in fact ...
But the variable path contains '"/opt/cuckoo/stuff/mitm.py"' and not '/opt/cuckoo/stuff/mitm.py'
I think the quotation marks are the problem in fact ! What do you think ?
I say that because when I try this :
![capture du 2018-02-01 09-39-55](https://user-images.githubusercontent.com/10530375/35669070

[2018-02-01 08:44] mhils commented on #2824
Good point. I'll patch that in mitmproxy so that the calling convention remains the same.

[2018-02-01 08:47] mhils commented on #2824
For the record, the space still is an issue, but I'll make us tolerate both.

[2018-02-01 09:02] mhils commented on #2832
Not sure how this is supposed to work - see http://docs.mitmproxy.org/en/stable/modes.html. You run mitmproxy in regular proxy mode and then send a request to it. Where is mitmproxy supposed to send this request to? The actual destination is not specified anywhere.

[2018-02-01 09:07] mhils commented on #2831
Thanks for the report. JSON is not HTTP/HTML form data, so mitmproxy clears the contents. I agree this is a bit confusing from a UX perspective, but technically the right thing to do. Fixing this unfortunately is quite nontrivial (we don't have an editor component for something as nested as JSON), so I'll close this for now as we probably don't plan on changing the behavior anytime soon. Contribut

[2018-02-01 09:07] #2831 closed

[2018-02-01 09:13] ddor254 commented on #2832
i am running mitm with the -T option as well and i get the above error regarding the Transport Protocol . and the destination is http://localhost:9999 - this is url i put in the request\curl

[2018-02-01 09:14] mhils commented on #2832
`localhost:9999` is the proxy itself. Please read the linked documentation.

[2018-02-01 09:14] #2832 closed

[2018-02-01 09:16] mhils commented on #2828
If I understand you correctly your problem are memory leaks in mitmproxy?
How many clients, how many requests, how much leakage?

[2018-02-01 09:17] #2824 closed

[2018-02-01 09:23] ddor254 commented on #2832
so what if that is the proxy itself? the proxy is some kind of a server doesn't it?

[2018-02-01 11:13] kajojify commented on #2785
@mhils
![image](https://user-images.githubusercontent.com/20267977/35675470-cadb2de0-0750-11e8-9308-b8ff9fc5c6b7.png)

What do you think? :)
Or with `key` highlighting.

![image](https://user-images.githubusercontent.com/20267977/35675687-9f3a7b36-0751-11e8-9f5e-22d419242418.png)

[2018-02-01 12:38] mhils commented on #2785
@kajojify: very awesome, I do like the key highlighting variant! 😃  Have you tried moving the numbers to the front? How does that look?

[2018-02-01 12:56] kajojify commented on #2785
@mhils
![image](https://user-images.githubusercontent.com/20267977/35679456-caa1b4b6-075f-11e8-995a-bd669502c93f.png)

![image](https://user-images.githubusercontent.com/20267977/35679472-d5ccb386-075f-11e8-8d01-1bcb67b71daa.png)

[2018-02-01 12:58] mhils commented on #2785
Fantastic - send a PR! Depending on how difficult it is, it'd be cool to
have the "(6) " chunk as a part of the selection as well, but post your
code first and we'll see. Great work! :-)

On Thu, Feb 1, 2018 at 1:56 PM, Samoilenko Roman <notifications@github.com>
wrote:

[2018-02-01 13:01] kajojify commented on #2785
@mhils do we have to implement the feature, which lets users change these shortcuts? :)

[2018-02-01 13:03] mhils commented on #2785
Please no! :)
This should be very generic for console.choose, always 1-9a-z.

[2018-02-01 14:30] SwiftyWang commented on #2630
still happened in 2.0.2
Chrome Version 63.0.3239.132 (Official Build) (64-bit)

[2018-02-01 20:33] mhils commented on #2832
In that case you can set it up a reverse proxy pointing to an invalid destination, it's a weird setup though.

[2018-02-02 11:11] hryamzik commented on #2630
@SwiftyWang can you try with `export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES`?

[2018-02-02 11:14] Lekensteyn commented on #2054
@fiery- That module seems to use Magisk which is used to root phones. Assuming it does not write directly to `/system`, I guess that it works using bind mounts as described in https://github.com/mitmproxy/mitmproxy/issues/2054#issuecomment-327735569

[2018-02-02 17:05] kira0204 commented on #2468
Hi, I think this is fixed by #2471 . :)

[2018-02-02 19:44] mhils commented on #2468
Thanks for the heads-up!

[2018-02-02 19:44] #2468 closed

[2018-02-03 02:22] #2785 closed

[2018-02-03 02:44] kira0204 commented on #2827
@kajojify Hi, are you working on this? :)

[2018-02-03 07:19] kajojify commented on #2827
@kira0204 hi! I am not working on it. Take it, if you want :)

[2018-02-03 08:38] kajojify commented on #2826
I will take a look at it :)

[2018-02-03 12:53] #2816 closed

[2018-02-03 13:17] kajojify opened #2837 "Exceptions in users' scripts aren't handled properly"
##### Steps to reproduce the problem:

1. Run mitmproxy.
2. Press `n` -> `Enter`
3. Create the script in arbitrary directory:
[code]
4. Run this script on the focused flow.
Press `|` (`shift + \`) and input the path to the script, which raises an exception.
For example `/home/kajoj/s.py`

I am seeing:
[code]

##### Any other comments? What have you tried so far?

I suppose, the preferable way to h

[2018-02-03 13:18] mhils commented on #2837
Yes to all of that. Good catch.

[2018-02-03 13:30] kajojify opened #2838 "Undesirable traceback, when trying to run user's script on the specific flow twice."
##### Steps to reproduce the problem:

1. Run mitmproxy.
2. Press `|` (`shift + \`).
3. Input the path to your script. Press `Enter`.
4. Repeat steps 2-3 one more time.

Traceback, wich souldn't appear:
![image](https://user-images.githubusercontent.com/20267977/35767541-8392cf22-08f6-11e8-91e0-6b161f2d42ef.png)

##### System information

Mitmproxy: 3.0.0.dev79 (commit 957a630)
Python: 3.5.2
OpenS

[2018-02-03 13:52] kajojify opened #2839 "Different traceback messages appear, when try to run inappropriate file as a script"
##### Steps to reproduce the problem:

1. Run mitmproxy.
2. Press `|`(`shift+\`). Input the path to not script file:
`: script.run @focus /home/kajoj/myphoto.JPG`

Traceback:
![image](https://user-images.githubusercontent.com/20267977/35767610-4eb01d1c-08f8-11e8-97dc-aca5225fd9a5.png)

2a. `: script.run @focus /home/kajoj/passlist.txt`

Traceback:
![image](https://user-images.githubusercontent.com

[2018-02-03 18:00] fiery- commented on #2054
@Lekensteyn Indeed, they use Magisk to bind-mount a user certs folder to the /system. However, installing Magisk seems to be a task for very advanced users.

Magisk's developer posted on Twitter that there is a fake site and a fake MagiskManager app on Google Play Store:

The [official Github](https://github.com/topjohnwu/Magisk) repository hosts only source and is not helpful how to install/unins

[2018-02-03 20:37] #2194 closed

[2018-02-04 08:49] zero-master opened #2840 "sslv3 alert handshake failure"
##### Steps to reproduce the problem:

Open https://ondemand.icicibank.com/

You'll get this error:

[code]
##### Any other comments? What have you tried so far?

I really need some direction here.

##### System information

Mitmproxy version: 2.0.2 (release version)
Python version: 3.6.4
Platform: Linux-4.14.15-1-ARCH-x86_64-with-arch
SSL version: OpenSSL 1.1.0g  2 Nov 2017
Linux distro: arch

[2018-02-04 14:18] Bjornskjald commented on #2083
Still present...

[2018-02-04 14:50] kajojify commented on #2638
It seems to be fixed in the latest release and also in master branch.
I used pathoc/pathod and these wbxml examples https://github.com/davidpshaw/PyWBXMLDecoder/tree/master/wbxml_samples to test it.

Mitmproxy **v2.0.2**:
![image](https://user-images.githubusercontent.com/20267977/35778736-0708c1a2-09cb-11e8-99f8-dca5c618cd81.png)

Mitmproxy **v3.0.0**:
![image](https://user-images.githubuserconte

[2018-02-04 16:39] mhils commented on #2638
@kajojify: no, we don't - 3.0 is around the corner. :-)

[2018-02-04 18:50] kajojify commented on #2638
Then since it is fixed in 3.0rc2, I think it can be closed :)
A way to make sure, that wbxml is decoded (or isn't):
1. Run mitmproxy.
2. Create a folder and put into it any file from https://github.com/davidpshaw/PyWBXMLDecoder/tree/master/wbxml_samples.
3. `pathod -a '/=200:b<"response-4569.wbxml"' -d ~/yourfolder/`
4. `pathoc -c localhost:9999 localhost:8080 'get:/'`
5. In mitmproxy: `enter` the

[2018-02-04 19:15] kira0204 commented on #2083
I will take a look at it @mhils tomorrow?

[2018-02-05 09:00] elorz007 commented on #2638
I checked a real-life scenario (an iPhone with iOS 11.2.5 and an exchange mail account configured). When doing any action with the Mail.app I could correctly see the wbxml content correctly parsed.

[2018-02-05 09:30] Mradr commented on #2828
Usually it's not memory leaks you see, but connection leaks. They build and build until you hit either memory problem or out of acceptable connections.

[2018-02-05 09:59] mhils commented on #2638
👍

[2018-02-05 09:59] #2638 closed

[2018-02-05 10:04] laurdawn commented on #2828
Sorry, I'm a novice. So, I said my situation , only one client, the mitmproxy accept a phone's all requests, however the momory grouth.
Let me tell you what I did. I run a linux command， “screen -dms mitmdump”，then I simply run it, "mitmdump -p 8888". And that's what happens. In this way , the memory has been increasing. Moreover,
this is a new Linux server, I just want to a proxy server,  And the

[2018-02-05 10:22] laurdawn commented on #2828
@Mradr
I run the mitmdump with the screen , no script, just a mitmdump.Sorry,, I don't understand you means........

[2018-02-05 11:59] stef commented on #1990
i also have an sslv2clienthello here, it would be nice if mitmproxy would support that.
here's a screenshot of the offending packet: https://www.ctrlc.hu/%7Estef/sslv2.png
can we reopen this issue please?

[2018-02-05 12:03] Kriechi commented on #1990
We already support unencrypted HTTP with mitmproxy.

[2018-02-05 12:09] stef commented on #1990
sslv2 is not unencrypted.

[2018-02-05 12:11] Kriechi commented on #1990
*sarcasm warning*
Well, it is not encrypted either (anymore). https://drownattack.com/drown-attack-paper.pdf

[2018-02-05 12:20] stef commented on #1990
i had a smiley at my comment. anyway, drown is not a useful attack in this scenario. it would be nice if mitmproxy would support this natively, because mitming this is much easier, passive and less hostile than executing the drown attack against the server. the target (in scope) in this case being the client and not the out of scope server.

[2018-02-05 12:29] Kriechi commented on #1990
We are happy to accept PRs, as long as they don't break anything with more important protocols. Given that SSLv2 is pretty niche nowadays. We do not plan to spend time ourself on such an outdated protocol that is superseded so many times.

Please take a look at the work of @johnsoft here https://github.com/johnsoft/mitmproxy/commit/bd04223e068409bb84fb2facf81656e52b7f2f90.

[2018-02-05 12:29] stef commented on #1990
btw considering the effort i think supporting sslv2clienthellos is much cheaper in mitmproxy than implementing the drown paper. or can you recommend a drown implementation that would be useful in other projects if the server is also in scope?

[2018-02-05 12:39] stef commented on #1990
Have you seen the iot shit being dumped on us nowadays? sadly sslv2 is not as niche as you (or me) would like it. and yes, i saw and tested johnsofts workaround which is in this very issue linked by himself above here. it does not work, hence my request to reopen this issue. if i had time to do a PR i would not ask you guys to to have a look at it. anyways thanks for your awesome work with the res

[2018-02-05 12:42] stef commented on #1990
here is the traceback with johnsofts patch applied:
[code]

[2018-02-05 18:26] pepasflo opened #2843 "Some (certificate-related?) failures don't show up?"
First, thanks so much for working on mitmproxy! 👍

Recently, when debugging an iOS app, I noticed that a network failure showed up when using Charles proxy, but no traffic showed up at all in mitmproxy.

It looks like the failure was related to SSL -- I believe the iOS app was either doing cert pinning or otherwise trying to prevent proxies.  Charles was somehow able to show this failed request, w

[2018-02-06 02:21] pannzh opened #2844 "mitmproxy crushes when duplicating flow"
##### Steps to reproduce the problem:

1.  Start mitmproxy as regular mode
2.  Client use it as http_proxy
3.  Select the flow and press 'D' (duplicate flow), and mitmproxy throws following exception:

[code]

##### Any other comments? What have you tried so far?

##### System information

I was using the latest docker images and here is the output of  `mitmproxy --version`:
[code]

[2018-02-06 09:32] cbenitez101 opened #2845 "Problems during installation"
I tried installing MITM proxy as in the documentation in an Ubuntu 16.04 system. I did exactly the same as it says in the documentation. The problem is that I'm not able to install some modules that I require like BeautifulSoup and netlib.
If I install MITM Proxy via apt-get I don't get those errors but it seems to use python2.7 instead of python3, giving me some other errors during the execution.

[2018-02-06 09:50] kira0204 commented on #2827
Update: the root cause of this is because the list that is maintaining cookies is initially like `['','value']` but is getting updated to `['value',None]`, I still don't know what is causing this but will revert soon.

[2018-02-07 11:42] YuriyPryyma opened #2849 "import ctype error when used with --scripts SCRIPT option from mitmdump"
##### Steps to reproduce the problem:

1. install binary release
2. run mitmdump -s test.py (with import ctypes)

#### Output:

[code]

##### System information
UBUNTU 16.04

Mitmproxy: 3.0.0.dev1136 (commit 15f525e) binary
Python:    3.5.2
OpenSSL:   OpenSSL 1.1.0g  2 Nov 2017
Platform:  Linux-4.13.0-32-generic-x86_64-with-debian-stretch-sid

[2018-02-07 12:48] mhils commented on #2840
Hi,
I think you are running into https://github.com/pyca/cryptography/issues/4087: Chrome negotiates TLS_RSA_WITH_RC4_128_MD5, which OpenSSL 1.1 is not built with by default. I suspect the server only supports insecure ciphers, and thus mitmproxy cannot establish a connection. This can be reproduced using plain OpenSSL:
[code]

[2018-02-07 12:58] mhils commented on #2843
Not sure if this is the same issue, but I just noticed a similar problem when debugging #2840 where errors show up in mitmdump, but not mitmproxy. Repro:

[code]

[2018-02-07 12:59] mhils commented on #2844
Thanks. I believe this is already fixed on master and the 3.0 release candidates, feel free to re-open if that's not the case.

[2018-02-07 12:59] #2844 closed

[2018-02-07 13:01] mhils commented on #2845
Hi,

Which documentation are you referring to? The canonical installation instructions are at http://docs.mitmproxy.org/en/stable/install.html#installation-on-linux. FWIW, netlib does not exist anymore and is now part of mitmproxy. Maybe you want to take a look at https://github.com/mitmproxy/mitmproxy/tree/master/examples for up-to-date examples (make sure to select the branch matching your mitmp

[2018-02-07 13:04] mhils commented on #2849
Hi,

If you want to use third-party modules in your mitmproxy scripts, you need to install mitmproxy from source (http://docs.mitmproxy.org/en/stable/install.html#advanced-installation). Our precompiled binaries contain a frozen Python environment which does not ship with `ctypes`:

[2018-02-07 13:04] #2849 closed

[2018-02-07 13:05] Houd1ny commented on #2849
Man I will have the same error even if I run it from sources

[2018-02-07 13:06] Houd1ny commented on #2849
see https://github.com/mitmproxy/mitmproxy/pull/2850

[2018-02-07 13:09] mhils commented on #2849
You definitely shouldn't get a `PyInstallerImportError` when running from source, but yes, we should probably catch this better.

[2018-02-07 13:15] Houd1ny commented on #2849
This is possible that user redefined hasattr method as ctypes libraries does
And it could throw when started with argument "command_path"

[2018-02-07 13:17] mhils commented on #2849
Yes - we definitely should catch this better and I very much welcome #2850, the root cause of @YuriyPryyma's problem is the use of the binaries though.

[2018-02-07 17:48] tran-tien-dat commented on #2829
Hi. I am new to open source and would like to contribute to mitmproxy. Can I work on this issue?

[2018-02-07 17:57] kajojify commented on #2829
@tran-tien-dat Hi! Please, take it, if you want :)

[2018-02-07 21:30] tran-tien-dat commented on #2829
I have found the cause the problem. It is around this part of the code:

https://github.com/mitmproxy/mitmproxy/blob/326bb546da214eb2c3ca82f9c506f3c051b1e660/mitmproxy/net/http/cookies.py#L143-L165

`lhs` and `rhs` are respectively variables to store the name and value of the cookie or the attribute. They are added to `pairs` in line 165. The code will interpret the first pair as the name and valu

[2018-02-08 19:27] huguesb opened #2853 "Transparent proxy crashes with "too many open files""
##### Steps to reproduce the problem:

1. https://www.digitalocean.com/community/tutorials/how-to-set-up-an-openvpn-server-on-ubuntu-16-04
2. http://docs.mitmproxy.org/en/stable/transparent/linux.html
3. `curl -v https://gutenberg.org`

<img width="1273" alt="screen shot 2018-02-08 at 11 17 23 am" src="https://user-images.githubusercontent.com/7319881/35993461-4dd09fa2-0cc2-11e8-8ba2-812090494df0.

[2018-02-08 20:46] LetMeR00t opened #2854 "Wrong behavior when specifying the configuration file"
##### Steps to reproduce the problem:

Context :
I set up a virtual machine on Windows 7 that can communicate with Internet on ports 80 and 443 only.
Mitmproxy is used as a transparent proxy for these communications in order to decrypt all HTTPS traffic. A redirection is made thanks to my iptables physical host that redirect the traffic on port 8080.
I'm using Internet Explorer v11.0.49 and Mozill

[2018-02-09 22:45] huguesb commented on #2853
It appears that the iptables rule redirecting vpn traffic to mitmproxy accidentally redirected mitmproxy connections to itself, resulting in an endless connection loop, hence the "too many open files". Closing accordingly.

[2018-02-09 22:45] #2853 closed

[2018-02-10 11:41] #2777 closed

[2018-02-11 12:05] tran-tien-dat commented on #2818
Maybe I can work on this? My initial thoughts would be to have a maximum URL length, and allow user to select it to see the whole content.

[2018-02-11 19:27] kira0204 commented on #2839
Hi, If noone else is working on it, I will take this :)

[2018-02-11 19:31] kira0204 commented on #2839
I have a question
Are we stringent that the script the user is trying to run should be a python file such as `example.py`,
or we are giving them the flexibility to run any file until and unless it's contents are python code(which we are doing right now)?

I would like to go with the second one

[2018-02-11 20:51] mhils commented on #2839
@kira0204: Are you referring to the filename extension (e.g. `.py`)? We shouldn't enforce anything in that regard.

[2018-02-11 21:09] bobby7718 opened #2862 "mitmdump 3.0.0rc2 doesn't accept arguments of script"
##### Steps to reproduce the problem:

1.install v3.0.0 RC2
wget https://github.com/mitmproxy/mitmproxy/releases/download/v3.0.0rc2/mitmproxy-3.0.0.dev1136-0x15f525e-py3-none-any.whl
sudo pip3 install mitmproxy-3.0.0.dev1136-0x15f525e-py3-none-any.whl
[code]
2.copy the example script(for 2.0) - https://github.com/mitmproxy/mitmproxy/blob/2.0.x/examples/simple/script_arguments.py
[code]
3.run the c

[2018-02-11 21:28] kira0204 commented on #2839
Yes I was, thanks for the clarification :)

[2018-02-12 00:03] kira0204 commented on #652
Hi, I tested it using the `server_replay_nopop` and there was no issue when I tried to reproduce the problem. I am not able to find when this was resolved but I think it's not an issue anymore :)

[2018-02-12 10:11] mhils commented on #652
This issue still very much exists - the first step would probably be coming up with a good test case and then changing `.host` to `.pretty_host`.
Long term, the ideal approach might be to cycle through all valid responses for one key, but finding good data structures here is not entirely trivial.

[2018-02-12 10:14] mhils commented on #2862
Thanks. As mentioned in the RC release notes, documentation still needs a major overhaul. Instead of passing arguments to scripts, you can now have scripts declare options: https://github.com/mitmproxy/mitmproxy/blob/master/examples/simple/custom_option.py. One benefit of this is that you can change them during execution from the UI.

[2018-02-12 10:22] #2827 closed

[2018-02-12 10:24] mhils commented on #2818
@tran-tien-dat: Sure, feel free to. :-)

[2018-02-12 10:55] mhils commented on #2854
Thanks for the extensive writeup - really appreciated!

### First Case

You're looking at the wrong packet - the interesting one is 247 where mitmproxy does answer with a TLS alert. From the Firefox screenshot, we can see that there is not cipher overlap. If you specify `AES256-SHA256` as your cipher, OpenSSL will only use `TLS_RSA_WITH_AES_256_CBC_SHA256` ([docs](https://wiki.openssl.org/index.ph

[2018-02-12 15:38] LetMeR00t commented on #2854
Thank you very much for you complete answer.
You're totally right, I didn't notice the difference between the cipher suites sorry.
Just for the cause, I made these tests because I detected something wrong in my PR for Cuckoo (which has nothing to do with mitmproxy, see https://github.com/cuckoosandbox/cuckoo/pull/2104)
It seems that using GCM cipher suites doesn't succeed to decipher the traffic u

[2018-02-12 15:40] #2854 closed

[2018-02-12 17:13] #2444 closed

[2018-02-12 17:44] asfaltboy opened #2864 "Release mitmproxy 3.0"
### Major items

- [ ] Update documentation: Scripting API, Options, Commands, ... (@cortesi)

### Minor Items

- [ ] Complete [Changelog](https://docs.google.com/document/d/1cjSb7iNcm-wkBoyovgCWqySRfTJyI6yaepvSzcdTjLs/edit). (@mhils, @cortesi)
- [x] Finish [website](https://github.com/mitmproxy/www). (@mhils)
- [ ] Resolve remaining [issues](https://github.com/mitmproxy/mitmproxy/issues?q=is%3Aop

[2018-02-12 21:12] kira0204 commented on #2839
Okay since we don't want the user to see all the traceback messages we can use `cut_traceback` with the parameter `_call_with_frames_removed` , I know this is not a neat solution but I am not able to find any solution apart from this :(

[2018-02-12 21:50] kajojify commented on #2839
@kira0204 we can try to handle these exceptions here -> https://github.com/mitmproxy/mitmproxy/blob/master/mitmproxy/addons/script.py#L26

[2018-02-12 22:00] kira0204 commented on #2839
I know, but I want the user to know what is the issue with the code that he is trying to load and where. If we ignore this and go forward with the handling of the exceptions and display a generic message then the solution becomes neat but we would be disturbing the UX

[2018-02-12 22:41] kajojify commented on #2839
@kira0204 issue about users' code exceptions is #2837
I think the current issue happens only when `loader.exec_module` can't even parse the python file properly

[2018-02-12 23:21] kira0204 commented on #2839
@kajojify `loader.exec_module` also executes the module in it's own namespace thus there will be cases which will be user's fault because the code will contain errors. When you talked about #2837 case, `exec_module` did it's part and did not execute `request()` (because namespace), but when you invoked that on the flow it raised an exception. But if we talk about errors like syntax errors or maybe

[2018-02-13 18:07] kira0204 commented on #2837
I will fix this until we come to a conclusion on #2839.

[2018-02-13 20:10] kira0204 commented on #2838
I will take a look at this as well, will fix it in #2865 itself since these issues are related

[2018-02-15 01:21] aniketpanjwani opened #2866 "Potential bug with options usage."
##### Steps to reproduce the problem:

1. Enter mitmproxy --allow_remote in terminal.
2. Get message:
[code]

##### Any other comments? What have you tried so far?

I expect to get a message telling me to enter one argument (either True or False), since allow_remote is specified as a boolean option in mitmproxy/options.py. I also see this same problem for another option - body_size_limit. Am I mak

[2018-02-15 01:31] mhils commented on #2866
The correct way is `mitmproxy --set allow_remote` or `mitmproxy --set allow_remote=true`. We may need to work on the UX a bit - what made you believe that `--allow_remote` is the way to go?

[2018-02-15 02:15] kira0204 opened #2867 "[Testing]test_xss_scanner.py fails without external communication"
##### Steps to reproduce the problem:

1.  Test your setup by typing `tox` without any internet connection

##### Any other comments? What have you tried so far?

The obvious solution to this problem would be to mock the external communication that is happening [here](https://github.com/mitmproxy/mitmproxy/blob/baf4b5dc03c3b87fbef6e5df422eb7654594978f/examples/complex/xss_scanner.py#L108-L114). Th

[2018-02-15 03:10] kira0204 commented on #2794
Well the problem is that we are assuming the content to be of `utf-8` type here right? as mentioned before by @mhils let's use `get_text`

[2018-02-15 03:43] kira0204 commented on #2787
I will look into this ASAP

[2018-02-15 05:06] aniketpanjwani commented on #2866
Currently, [the docs](http://docs.mitmproxy.org/en/latest/config.html) just say to look at [options.py](https://github.com/mitmproxy/mitmproxy/blob/master/mitmproxy/options.py). Some of the options in options.py definitely work without the `--set` in front, e.g. `mitmproxy --mode transparent`, so I thought the other options would be formatted analagously.

[2018-02-15 15:15] aniketpanjwani opened #2869 "Inability to connect to ipv6 websites through mitmproxy from ipv6 network."
##### Steps to reproduce the problem:

1. Follow [instructions](https://github.com/mitmproxy/mitmproxy/blob/master/docs/transparent/linux.rst) to setup transparent proxy on Linux on my own machine, substituting PREROUTING in the iptables ruleset with OUTPUT.
2. Run `mitmdump --mode transparent`
3. Navigate to ipv4 site (e.g. espn.com) and ipv6 site (e.g. facebook.com).

I've done this from two net

[2018-02-15 16:04] mhils commented on #2869
Thanks for the fantastic write-up! The `FileNotFoundError` in transparent mode is a really weird one, because the only function that could trigger that is `mitmproxy.platform.linux.original_addr`, which doesn't open any files... Can you verify that this is indeed triggered by [linux.py#L9](https://github.com/mitmproxy/mitmproxy/blob/baf4b5dc03c3b87fbef6e5df422eb7654594978f/mitmproxy/platform/linux

[2018-02-15 16:12] aniketpanjwani commented on #2869
I think I made an important omission in writing up the issue, which is that I've usually been passing a script to mitmproxy, and this write up is based off errors received when passing the script. So, it's more likely that this is being triggered [here](https://github.com/mitmproxy/mitmproxy/blob/6d8731e144eaec2aaf2120c21969c9228b7af95a/mitmproxy/addons/script.py).

I'm pretty sure I also encounte

[2018-02-15 16:15] mhils commented on #2869
Not sure what your script does, but the code path for "Transparent mode failure" is pretty clear:

- https://github.com/mitmproxy/mitmproxy/blob/568f40c810f4de60f10bd814608fde8268ef7733/mitmproxy/proxy/modes/transparent_proxy.py#L12-L15
- https://github.com/mitmproxy/mitmproxy/blob/568f40c810f4de60f10bd814608fde8268ef7733/mitmproxy/platform/__init__.py#L20-L23
- https://github.com/mitmproxy/mitmpr

[2018-02-15 16:20] aniketpanjwani commented on #2869
You're right - I got fixated on the FileNotFoundError, since the only place it shows up in the code is in [script.py](https://github.com/mitmproxy/mitmproxy/blob/6d8731e144eaec2aaf2120c21969c9228b7af95a/mitmproxy/addons/script.py).

[The script](https://github.com/aniketpanjwani/chomper/blob/master/chomper/filter.py) just adjusts the response for particular URLS.

[2018-02-16 00:17] aniketpanjwani commented on #2869
So, I'm not entirely sure how to verify that it is being triggered by linux.py. Is there some sort of debug mode I can use to drop down to pdb in case of an error?

I have two additional things to report:

1. I followed [these instructions](https://community.rackspace.com/products/f/public-cloud-forum/5110/how-to-prefer-ipv4-over-ipv6-in-ubuntu-and-centos) to get my operating system to prefer ipv4

[2018-02-16 00:22] mhils commented on #2869
Assuming you have installed mitmproxy from source, the easiest form of debugging would be to add print statements in linux.py. pdb works as well of course, you can call that from an addon in mitmdump so that the UI is out of the way or use https://github.com/mitmproxy/mitmproxy/blob/master/examples/complex/remote_debug.py.

And no, there's no particular reason why IPv6 DNS should behave differentl

[2018-02-16 00:26] mhils commented on #2869
Ah, it looks like @chadbrubaker was ahead of us: https://github.com/google/nogotofail/commit/c73070ca3098faab2994a83a9249d7c973151aa4.
Could you check if applying this fix solves it?

[2018-02-16 00:55] aniketpanjwani commented on #2869
Oh cool! I'll get to this in the next few hours.

[2018-02-16 01:15] aniketpanjwani commented on #2869
Getting this error when installing from source as per [instructions](https://github.com/mitmproxy/mitmproxy#development-setup):

[code]
If I install the requirements from pipenv, will it still be the case that mitmproxy is installed as "editable" (so that it responds to my pdb entries)? I'll try it out...

[2018-02-16 02:15] aniketpanjwani commented on #2869
I got the environment working. Here's what I tried - copying @chadbrubaker as closely as possible:

[code]
I get an error saying `'socket' has no attribute 'AF_INET'`. Any thoughts?

[2018-02-16 02:16] aniketpanjwani commented on #2869
Also, when I stick a `pdb.set_trace()` inside linux.py, I'm able to find `socket.AF_INET`. Some sort of namespace error going on...

[2018-02-16 02:16] mhils commented on #2869
`if family == socket.AF_IFNET:` <- typo

[2018-02-16 05:06] mhils commented on #2869
Ok, this turned out to be much more of a rabbit hole than I expected. 🐇

1. `sock.getsockopt(SOL_IPV6, SO_ORIGINAL_DST, 28)` is generally the right thing we need to do to support IPv6.
2. Surprise: On IPv6 networks this now breaks IPv4 connections:
 `sock.family` is `AF_INET6`, `peername` is an IPv4-mapped `::ffff:192.168.0.102`, and the syscall fails.
If we observe an IPv4-mapped IPv6 address, we

[2018-02-16 15:21] #2869 closed

[2018-02-16 20:22] mhils commented on #2843
This is not a regression from 2.0, so it's not a must-have for 3.0.

[2018-02-16 22:22] #2720 closed

[2018-02-17 08:22] kajojify commented on #2075
I wrote a reproducible test case, but I still can't reproduce it in real life :sweat_smile:
Can we fix it without real life example?

[2018-02-17 11:53] #2779 closed

[2018-02-17 15:18] kajojify commented on #2810
**Update:**
Similar traceback appears, when we try to input `'` or `"` without closing quotation:

[code]

[2018-02-17 16:03] extbodyan opened #2871 "Traceback during installation in Termux"
[code]

[2018-02-17 16:10] kajojify opened #2872 "Mitmproxy crashes, when we try to write a value from file into grideditor cell"
##### Steps to reproduce the problem:

1. Create a file. Put inside:
[code]
2. Run mitmproxy.
3. Press `n` -> `Enter` -> `Enter` -> `e` -> `cookies`. You will get into `cookies` grideditor.
4. Press `a` -> `Esc` -> `r` (or `R`, also relevant for it).
5. Input the path to the file with `abc`: `console.grideditor.load` `~/your_file_with_abc` -> `Enter`.

You will see:
[code]

##### Any other comment

[2018-02-18 22:17] mhils commented on #2075
@kajojify: Just the test is fine, but where are you struggling with reproducing this? usually just sending a few \xFF bytes should trigger this.

[2018-02-18 22:19] mhils commented on #2871
Hi,

That's a problem of libffi or brotlipy, not a mitmproxy bug - aarch64-linux-android-clang is probably a bit too exotic for those. Nothing we can do here, sorry.

[2018-02-18 22:19] #2871 closed

[2018-02-18 22:19] mhils commented on #2871
To be clear, you can reproduce this without mitmproxy using `pip install brotlipy`.

[2018-02-19 03:52] PaleNeutron opened #2874 "encoding/decoding hotkey "z" not actually work"
##### Steps to reproduce the problem:

1.go to flow view
2.tap z to choose encode type or remove
3.content-encoding header changed but the response body not

##### Any other comments? What have you tried so far?

##### System information
Mitmproxy version: 2.0.2 (release version)
Python version: 3.6.4
Platform: Darwin-17.4.0-x86_64-i386-64bit
SSL version: OpenSSL 1.0.2n  7 Dec 2017
Mac version: 10

[2018-02-19 11:59] kajojify opened #2876 "Mitmproxy crashes, when we try to set 'true' for add_upstream_certs_to_client_chain option"
##### Steps to reproduce the problem:

1. Run mitmproxy.
2. Press `O` to enter Options tab.
3. Press `Enter` to set `true` for `add_upstream_certs_to_client_chain` option.

You will see traceback:
[code]

##### Any other comments? What have you tried so far?

If we set `true` for `ssl_insecure` option, we will be able to set `true` for `add_upstream_certs_to_client_chain` option successfully.

###

[2018-02-19 12:09] mhils commented on #2874
Hi,

Thanks for the report. `z` works fine for me on 3.0rc2, please reopen if that's not the case.

[2018-02-19 12:09] #2874 closed

[2018-02-19 13:25] PaleNeutron commented on #2874
[img1](https://imgur.com/DGFP4yW)

[img2](https://imgur.com/gxIXT29)

We could see the header and the body size changed but the response in view not.

Platform:
Mitmproxy: 3.0.0.dev1136 (commit 15f525e) binary
Python:    3.5.3
OpenSSL:   OpenSSL 1.1.0g  2 Nov 2017
Platform:  Darwin-17.4.0-x86_64-i386-64bit

[2018-02-19 13:30] mhils commented on #2874
Ah, now I get it - thanks! So we do update the body, but we automatically deflate it for display in the UI only:
![image](https://user-images.githubusercontent.com/1019198/36380018-0a765e82-1581-11e8-98eb-9b0bc2ff7adb.png)

If you do this during interception or for server replay, the client will get a compressed response. Does that make sense?